<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<td *ngIf="!ventSettings">
    <p [innerHTML]="name"></p>
</td>
<td *ngIf="!ventSettings">
    <p *ngIf="type === VRIDBType.I_SCALAR_VALUE"> {{ value ? value.value : '' }}</p>
    <p *ngIf="type === VRIDBType.STRING"> {{ value ? value : '' }} </p>
</td>
<!-- Add here the vent settings view -->
<div *ngIf="ventSettings" class="vent-settings ui-g-nopad">
    <!--div>
        <p-fieldset class="hw-block-fieldset">
            <p-header class="fieldset-header" [innerHTML]="name"></p-header>
            <div [innerHTML]="valueAndUnit()"></div>
        </p-fieldset>
    </div-->
    <p-dialog modal="true" [(visible)]="displayModal" class="flipping-card">
        <p-header [innerHTML]="name"></p-header>
        <p-tabView>
            <p-tabPanel header="Observable/Setting Value">
                <div class="ui-g-12 m-row7">
                    <div class="ui-g-1 m-row"></div>
                    <div class="ui-g-4 m-row m-row input-div">
                        <p-fieldset class="hw-block-fieldset">
                            <p-header class="fieldset-header">Current</p-header>
                            <input type="text" class="dialog-input" pInputText [value]="onlyValue()">
                        </p-fieldset>
                    </div>
                    <!--Create a checkbox if the metric accepts only predefined values -->
                    <div  *ngIf="!!enumValues?true:false" class="ui-g-6 m-row m-row input-div">
                        <p-fieldset class="hw-block-fieldset dropdown-fieldset-container">
                            <p-header class="fieldset-header">New</p-header>
                            <p-dropdown [ngStyle]="{width: 'min-content'}" [options]="enumValues"  optionLabel="humanLabel" dataKey="internalValue" [(ngModel)]="newValueString"></p-dropdown>
                        </p-fieldset>
                    </div>

                    <div  *ngIf="!!enumValues?false:true" class="ui-g-6 m-row m-row input-div">
                        <p-fieldset class="hw-block-fieldset">
                            <p-header class="fieldset-header">New</p-header>
                            <input type="text" class="dialog-input dialog-input-new" pInputText [value]="newValueString" (change)="numpadNewValue($event)">
                        </p-fieldset>
                    </div>
                    <div class="ui-g-1 m-row"></div>
                    <!-- numpad -->
                    <div *ngIf="!!enumValues?false:true" class="ui-g-12 m-row numpad-area">
                        <div class="ui-g-1 m-row numpad-btn-nb"></div>
                        <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(1)">1</div>
                        <div class="ui-g-2 m-row"></div>
                        <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(2)">2</div>
                        <div class="ui-g-2 m-row"></div>
                        <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(3)">3</div>
                        <div class="ui-g-1 m-row numpad-btn-nb"></div>

                        <div class="ui-g-1 m-row numpad-btn-nb"></div>
                        <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(4)">4</div>
                        <div class="ui-g-2 m-row"></div>
                        <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(5)">5</div>
                        <div class="ui-g-2 m-row"></div>
                        <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(6)">6</div>
                        <div class="ui-g-1 m-row numpad-btn-nb"></div>
                        <!-- left separator -->
                        <div class="ui-g-1 m-row numpad-btn-nb"></div>
                        <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(7)">7</div>
                        <div class="ui-g-2 m-row"></div>
                        <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(8)">8</div>
                        <div class="ui-g-2 m-row"></div>
                        <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(9)">9</div>
                        <div class="ui-g-1 m-row numpad-btn-nb"></div>
                    </div>
                    <div class="ui-g-12">
                        <!-- left separator -->
                        <div class="ui-g-2 m-row numpad-btn-nb"></div>
                        <button type="button" class="ui-g-3 numpad-btn-action" (click)="applyVentChanges()">
                            <fa-icon [icon]="check"></fa-icon>
                        </button>
                        <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(0)">0</div>
                        <button pButton type="button" class="ui-g-3 numpad-btn-action" (click)="closeDialog()">
                            <fa-icon [icon]="cancel"></fa-icon>
                        </button>
                        <div class="ui-g-2 m-row numpad-btn-nb"></div>
                    </div>

                </div>
            </p-tabPanel>
            <p-tabPanel header="Device limits" *ngIf="!isThornhill()">
                <div class="limit uli-g-12">
                    <div class="ui-g-1 m-row"></div>
                    <div class="ui-g-5 m-row m-row input-div">
                        <p-fieldset class="hw-block-fieldset">
                            <p-header class="fieldset-header"
                                      [ngClass]="alarmMinCodeId===undefined?'grayed':''">Current Min</p-header>
                            <input type="text" readonly="true"
                                   class="limits dialog-input"
                                   [ngClass]="alarmMinCodeId===undefined?'grayed':''"
                                   pInputText [value]="alarmMinCodeId===undefined?'':alarmMin">
                        </p-fieldset>
                    </div>
                    <div class="ui-g-5 m-row m-row input-div">
                        <p-fieldset class="hw-block-fieldset">
                            <p-header class="fieldset-header"
                                      [ngClass]="alarmMinCodeId===undefined?'grayed':''">New Min</p-header>
                            <input type="text" readonly="!ventSettings"
                                   class="limits dialog-input dialog-input-new"
                                   [ngClass]="alarmMinCodeId===undefined?'grayed':''"
                                   (focus)="setInput('newAlarmMin')"
                                   pInputText [value]="alarmMinCodeId===undefined?'':newAlarmMin"
                                   (change)="numpadLimit($event, 'newAlarmMin')">
                        </p-fieldset>
                    </div>
                    <div class="ui-g-1 m-row"></div>
                </div>
                <div class="limit uli-g-12 m-row">
                    <div class="ui-g-1 m-row"></div>
                    <div class="ui-g-5 m-row m-row input-div">
                        <p-fieldset class="hw-block-fieldset">
                            <p-header class="fieldset-header"
                                      [ngClass]="alarmMaxCodeId===undefined?'grayed':''">Current Max</p-header>
                            <input type="text" readonly="true"
                                   class="limits dialog-input"
                                   [ngClass]="alarmMaxCodeId===undefined?'grayed':''"
                                   pInputText [value]="alarmMaxCodeId===undefined?'':alarmMax">
                        </p-fieldset>
                    </div>
                    <div class="ui-g-5 m-row m-row input-div">
                        <p-fieldset class="hw-block-fieldset">
                            <p-header class="fieldset-header"
                                      [ngClass]="alarmMaxCodeId===undefined?'grayed':''">New Max</p-header>
                            <input type="text" readonly="!ventSettings"
                                   class="limits dialog-input dialog-input-new"
                                   [ngClass]="alarmMaxCodeId===undefined?'grayed':''"
                                   (focus)="setInput('newAlarmMax')" pInputText [value]="alarmMaxCodeId===undefined?'':newAlarmMax"
                                   (change)="numpadLimit($event, 'newAlarmMax')">
                        </p-fieldset>
                    </div>
                    <div class="ui-g-1 m-row"></div>
                </div>
                <div class="ui-g-2 m-row"></div>
                <!-- numpad -->
                <div class="ui-g-12 m-row numpad-area">
                    <div class="ui-g-1 m-row numpad-btn-nb"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadLimitClick(1)">1</div>
                    <div class="ui-g-2 m-row"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadLimitClick(2)">2</div>
                    <div class="ui-g-2 m-row"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadLimitClick(3)">3</div>
                    <div class="ui-g-1 m-row numpad-btn-nb"></div>

                    <div class="ui-g-1 m-row numpad-btn-nb"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadLimitClick(4)">4</div>
                    <div class="ui-g-2 m-row"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadLimitClick(5)">5</div>
                    <div class="ui-g-2 m-row"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadLimitClick(6)">6</div>
                    <div class="ui-g-1 m-row numpad-btn-nb"></div>
                    <!-- left separator -->
                    <div class="ui-g-1 m-row numpad-btn-nb"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadLimitClick(7)">7</div>
                    <div class="ui-g-2 m-row"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadLimitClick(8)">8</div>
                    <div class="ui-g-2 m-row"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadLimitClick(9)">9</div>
                    <div class="ui-g-1 m-row numpad-btn-nb"></div>
                    <!-- left separator -->
                    <div class="ui-g-1 m-row numpad-btn-nb"></div>
                    <button type="button" [disabled]="ventSettings && (alarmMaxCodeId===undefined && alarmMinCodeId===undefined)" class="ui-g-2 numpad-btn-action" (click)="applyLimitChanges()">
                        <fa-icon [icon]="check"></fa-icon>
                    </button>
                    <div class="ui-g-2 m-row"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadLimitClick(0)">0</div>
                    <div class="ui-g-2 m-row"></div>
                    <button pButton type="button" class="ui-g-2 numpad-btn-action" (click)="closeDialog()">
                        <fa-icon [icon]="cancel"></fa-icon>
                    </button>
                    <div class="ui-g-1 m-row numpad-btn-nb"></div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </p-dialog>
    <div class="hw-wrapper-vent-settings" (click)="adjustAlarmValues()">
        <div class="big-block-vent-settings">
            <span [innerHTML]="nameAndUnit()" class="box-content big-block-label-vent-settings"></span>
        </div>
        <div class="big-block-vent-settings big-block-val-unit"><span [innerHTML]="onlyValue()" class="box-content big-block-value-vent-settings"></span></div>
        <div class="small-block-vent-settings"><span *ngIf="alarmMax!==-999" class="box-content">{{alarmMax}}</span></div>
        <div class="small-block-vent-settings"><span *ngIf="alarmMin!==-999" class="box-content">{{alarmMin}}</span></div>
    </div>
</div>
