/**
 * Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 */

@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 18px;
  width: 18px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-saperi.png') no-repeat center center;
  background-size: contain;
}

.navbar-version {
  font-size: 0.65em;
  color: $navbar-light-color;
}

.navbar-hash-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}
