<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div class="footer">
    <!-- <fa-icon icon="copyright"></fa-icon> -->
    <span class="navbar-hash-version">{{commitHash}} - </span>
    <span class="logo-img"></span>
    <span jhiTranslate="footer">Saperi Systems</span>
    <span class="navbar-version"> - {{version}}</span>
</div>
