/**
 * Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 */

@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/variables';

:host {
  ::ng-deep .hw-block-fieldset .ui-fieldset {
    padding: 0px;
    height: 100px;
    .ui-fieldset-content-wrapper {
      height: 100%;
    }
    .ui-fieldset-legend {
      padding: 0px 10px 0px 10px;
      width: fit-content;
      margin: 0px 0px 0px 10px;
    }
    .ui-fieldset-legend-text {
      font-size: 0.6rem;
      font-weight: bold;
      color: black;
    }
    .ui-fieldset-content {
      padding: 0px;
      text-align: center;
      font-size: 0.7rem;
      height: 100%;
    }
  }

  ::ng-deep .hw-block-fieldset > .waveforms.ui-fieldset {
    height: 220px;
  }

  ::ng-deep .physiologic {
    height: 100px;
  }

  ::ng-deep .lower .ui-fieldset-content {
    color: red;
    font-weight: bold;
  }

  ::ng-deep .upper .ui-fieldset-content {
    color: green;
    font-weight: bold;
  }
  ::ng-deep .normal .ui-fieldset-content {
    color: black;
    font-weight: normal;
  }
  ::ng-deep .draggable-component {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  ::ng-deep .fieldset-header {
    font-size: 0.6rem;
    font-weight: bold;
    color: black;
    vertical-align: middle;
  }
  ::ng-deep .ui-fieldset-content-wrapper {
    height: 80%;
  }
  ::ng-deep .limit > .input-div > .hw-block-fieldset .ui-fieldset {
    padding: 0px;
    height: 65px;
    .ui-fieldset-legend {
      padding: 0px 10px 0px 10px;
      width: fit-content;
      margin: 0px 0px 0px 10px;
    }
    .ui-fieldset-legend-text {
      font-size: 0.7rem;
      font-weight: bold;
    }
    .ui-fieldset-content {
      padding: 0px;
      text-align: center;
      font-size: 0.7rem;
    }
    .fieldset-header.grayed {
      color: #b6b6b6;
    }
  }
  ::ng-deep .ui-dialog-content {
    width: 430px;
    height: 500px;
  }

  ::ng-deep .ui-tabview.ui-tabview-top {
    height: 100%;
  }

  ::ng-deep .ui-tabview .ui-tabview-panels {
    border: 1px solid #c8c8c8;
    height: 95%;
  }
  .numpad-area {
    padding-top: 20px;
  }
  .numpad-btn {
    height: 40px;
    border: 1px solid #e8e8e8;
    text-align: center;
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .numpad-btn-nb {
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .numpad-btn-action {
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    background-color: white;
    font-size: xx-large;
  }
  .dialog-input {
    border: 0px;
    height: 85px;
    font-size: 35px;
    width: 70px;
  }
  .limits.dialog-input {
    border: 0px;
    height: 20px;
    font-size: 20px;
    width: 40px;
    outline: none;
  }
  .limits.dialog-input.grayed {
    color: #b6b6b6;
    outline: none;
  }
  .limits.dialog-input-new {
    color: #000000;
    outline: none;
  }
  .limits.dialog-input-new.grayed {
    color: #b6b6b6;
    outline: none;
  }
  .limits.dialog-input-new.grayed:focus {
    border-color: #b6b6b6;
    outline: none;
  }
  .hw-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80px;
    width: 80%;
    text-align: center;
    padding-left: 10%;
  }
  .small-block {
    width: 15%;
    flex: 0 0 40px;
    line-height: 40px;
    font-size: 0.68rem;
    text-align: right;
  }
  .big-block {
    flex-basis: 80px;
    line-height: 80px;
    width: 38%;
    text-align: left;
    font-size: 1.15rem;
    font-weight: bold;
    color: black;
    // Resolution 1920px
    @media screen and (min-width: 1920px) {
      font-size: 1.45rem;
    }
  }
  .big-block-val-unit {
    width: 47%;
  }
  .hw-wrapper-unselected {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70px;
    width: 115px;
    text-align: center;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
  }
  .big-block-unselected {
    flex-basis: 66px;
    line-height: 66px;
    width: 38px;
    text-align: left;
    font-size: 0.7rem;
    font-weight: bold;
    color: black;
  }
  .small-block-unselected {
    width: 15px;
    flex: 0 0 25px;
    height: 34px;
    line-height: 34px;
    font-size: 0.62rem;
  }
  .big-block-value {
    width: 95px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #0da233;
    text-align: right;
  }

  .big-block-unselected > .big-block-label-unselected {
    width: 55px;
    font-size: 0.75rem;
    padding-left: 4px;
  }

  .big-block-unselected > .big-block-value-unselected {
    width: 66px;
    color: #0da233;
    font-size: 1.05rem;
    text-align: right;
  }
  .box-content {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  .device-data {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 0px;
  }
}
