<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div class="ui-g draggable-component hwb-component">
        <div *ngIf="(physiologicMonitors || ventMonitors || ventFlow) && expanded && !reduced"
             [pDraggable]="ddScope"
             [ngClass]="physiologicMonitors?'physiologic':''" class="ui-g-12 ui-g-nopad div-chart">
            <div [pDraggable]="ddScope" [ngClass]="valueClass"
                 (onDragStart)="onDragStart($event)"
                 (onDragEnd)="onDragEnd($event)">
                <p-fieldset class="hw-block-fieldset"  [styleClass]="getChatType()=='scatter'?'waveforms':'physiologic'">
                    <p-header class="fieldset-header" [innerHTML]="name"></p-header>
                    <p-chart [type]="getChatType()" [data]="chartData" [options]="getChartOptions()" height="100%"></p-chart>
                </p-fieldset>
            </div>
        </div>
        <div *ngIf="physiologicMonitors && expanded && reduced" [ngClass]="expanded?'ui-g-12 device-data':''" class="ui-g-nopad" (click)="adjustAlarmValues()">
            <div [pDraggable]="ddScope" [ngClass]="valueClass"
                (onDragStart)="onDragStart($event)"
                (onDragEnd)="onDragEnd($event)">
                <div class="hw-wrapper">
                    <div class="big-block"><span [innerHTML]="nameAndUnit()" class="box-content big-block-label"></span></div>
                    <div class="big-block big-block-val-unit"><span [innerHTML]="onlyValue()" class="box-content big-block-value"></span></div>
                    <div class="small-block"><span *ngIf="alarmMax!==-999" class="box-content">{{alarmMax}}</span></div>
                    <div class="small-block"><span *ngIf="alarmMin!==-999" class="box-content">{{alarmMin}}</span></div>
                </div>
            </div>
        </div>
    <div *ngIf="(physiologicMonitors || ventMonitors) && !expanded && reduced" class="device-data ui-g-nopad">
        <div [pDraggable]="ddScope" [ngClass]="valueClass"
             (onDragStart)="onDragStart($event)"
             (onDragEnd)="onDragEnd($event)">
            <div class="hw-wrapper-unselected">
                <div class="big-block-unselected"><span [innerHTML]="nameAndUnit()" class="box-content big-block-label-unselected"></span></div>
                <div class="big-block-unselected"><span [innerHTML]="onlyValue()" class="box-content big-block-value-unselected"></span></div>
                <div class="small-block-unselected"><span *ngIf="alarmMax!==-999" class="box-content">{{alarmMax}}</span></div>
                <div class="small-block-unselected"><span *ngIf="alarmMin!==-999" class="box-content">{{alarmMin}}</span></div>
            </div>
        </div>
    </div>
    <div *ngIf="ventSettings" class="vent-settings ui-g-nopad">
        <div class="hw-wrapper-vent-settings">
            <div class="big-block-vent-settings"><span [innerHTML]="nameAndUnit()" class="box-content big-block-label-vent-settings"></span></div>
            <div class="big-block-vent-settings"><span [innerHTML]="onlyValue()" class="box-content big-block-value-vent-settings"></span></div>
            <div class="small-block-vent-settings"><span *ngIf="alarmMax!==-999" class="box-content">{{alarmMax}}</span></div>
            <div class="small-block-vent-settings"><span *ngIf="alarmMin!==-999" class="box-content">{{alarmMin}}</span></div>
        </div>
    </div>
    <p-dialog modal="true" [(visible)]="displayModal" class="flipping-card">
        <p-header [innerHTML]="name"></p-header>
        <p-tabView>
            <p-tabPanel header="Device limits">
                <div class="limit uli-g-12">
                    <div class="ui-g-1 m-row"></div>
                    <div class="ui-g-5 m-row m-row input-div">
                        <p-fieldset class="hw-block-fieldset">
                            <p-header class="fieldset-header"
                                      [ngClass]="alarmMinCodeId===null?'grayed':''">Current Min</p-header>
                            <input type="text" readonly="true"
                                   class="limits dialog-input"
                                   [ngClass]="alarmMinCodeId===null?'grayed':''"
                                   pInputText [value]="alarmMinCodeId===null?'':alarmMin">
                        </p-fieldset>
                    </div>
                    <div class="ui-g-5 m-row m-row input-div">
                        <p-fieldset class="hw-block-fieldset">
                            <p-header class="fieldset-header"
                                      [ngClass]="alarmMinCodeId===null?'grayed':''">New Min</p-header>
                            <input type="text" class="limits dialog-input dialog-input-new"
                                   (focus)="setInput('newAlarmMin')"
                                   [ngClass]="alarmMinCodeId===null?'grayed':''"
                                   [readonly]="alarmMinCodeId===null?true:false"
                                   pInputText [value]="alarmMinCodeId===null?'':newAlarmMin"
                                   (change)="numpadLimit($event, 'newAlarmMin')">
                        </p-fieldset>
                    </div>
                    <div class="ui-g-1 m-row"></div>
                </div>
                <div class="limit uli-g-12 m-row">
                    <div class="ui-g-1 m-row"></div>
                    <div class="ui-g-5 m-row m-row input-div">
                        <p-fieldset class="hw-block-fieldset">
                            <p-header class="fieldset-header"
                                      [ngClass]="alarmMaxCodeId===null?'grayed':''">Current Max</p-header>
                            <input type="text" readonly="true"
                                   [ngClass]="alarmMaxCodeId===null?'grayed':''"
                                   class="limits dialog-input"
                                   pInputText [value]="alarmMaxCodeId===null?'':alarmMax">
                        </p-fieldset>
                    </div>
                    <div class="ui-g-5 m-row m-row input-div">
                        <p-fieldset class="hw-block-fieldset">
                            <p-header class="fieldset-header"
                                      [ngClass]="alarmMaxCodeId===null?'grayed':''" >New Max</p-header>

                            <input type="text" class="limits dialog-input dialog-input-new"
                                   (focus)="setInput('newAlarmMax')"
                                   [ngClass]="alarmMaxCodeId===null?'grayed':''"
                                   [readonly]="alarmMaxCodeId===null?true:false"
                                   pInputText [value]="alarmMaxCodeId===null?'':newAlarmMax"
                                   (change)="numpadLimit($event, 'newAlarmMax')">
                        </p-fieldset>
                    </div>
                    <div class="ui-g-1 m-row"></div>
                </div>
                <div class="ui-g-2 m-row"></div>
                <!-- numpad -->
                <div class="ui-g-12 m-row numpad-area">
                    <div class="ui-g-1 m-row numpad-btn-nb"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadLimitClick(1)">1</div>
                    <div class="ui-g-2 m-row"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadLimitClick(2)">2</div>
                    <div class="ui-g-2 m-row"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadLimitClick(3)">3</div>
                    <div class="ui-g-1 m-row numpad-btn-nb"></div>

                    <div class="ui-g-1 m-row numpad-btn-nb"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadLimitClick(4)">4</div>
                    <div class="ui-g-2 m-row"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadLimitClick(5)">5</div>
                    <div class="ui-g-2 m-row"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadLimitClick(6)">6</div>
                    <div class="ui-g-1 m-row numpad-btn-nb"></div>
                    <!-- left separator -->
                    <div class="ui-g-1 m-row numpad-btn-nb"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadLimitClick(7)">7</div>
                    <div class="ui-g-2 m-row"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadLimitClick(8)">8</div>
                    <div class="ui-g-2 m-row"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadLimitClick(9)">9</div>
                    <div class="ui-g-1 m-row numpad-btn-nb"></div>
                    <!-- left separator -->
                    <div class="ui-g-1 m-row numpad-btn-nb"></div>
                    <button type="button"
                            [disabled]="(alarmMaxCodeId===null && alarmMinCodeId===null)"
                            class="ui-g-2 numpad-btn-action" (click)="applyLimitChanges()">
                        <fa-icon [icon]="check"></fa-icon>
                    </button>
                    <div class="ui-g-2 m-row"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadLimitClick(0)">0</div>
                    <div class="ui-g-2 m-row"></div>
                    <button pButton type="button" class="ui-g-2 numpad-btn-action" (click)="closeDialog()">
                        <fa-icon [icon]="cancel"></fa-icon>
                    </button>
                    <div class="ui-g-1 m-row numpad-btn-nb"></div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </p-dialog>
</div>
