/**
 * Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 */

.row-separator {
  margin-top: 1em;
}

.section-label {
  font-weight: bold;
}
::ng-deep body .ui-radiobutton {
  width: 20px;
  height: 20px;
}

::ng-deep body .ui-radiobutton .ui-radiobutton-box {
  width: 18px;
  height: 18px;
}

::ng-deep body .ui-radiobutton-label {
  margin: 0 0 0 0.8em;
  font-size: 12px;
}

.control-padding {
  padding-bottom: 3px;
}
