<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div>
    <div class="alert alert-danger" *ngIf="error">{{ error | translate }}</div>
    <div *ngIf="!error">
        <div class="row">
            <div class="col-md-12">
                <label class="form-control-label section-label" jhiTranslate="vcmApp.monitor.view.ventilator-recommender-type">
                    Ventilator Recommender Type
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p-selectButton [options]="ventilatorRecommenderTypes" optionLabel="name"
                    [(ngModel)]="assignment.ventilatorRecommenderType" (onChange)="onVentilatorRecommenderTypeChange()">
                    <ng-template let-item>
                        <span class="ui-button-text ui-clickable">
                            {{'vcmApp.VentilatorRecommenderType.' + item.value | translate}}
                        </span>
                    </ng-template>
                </p-selectButton>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="form-control-label section-label" jhiTranslate="vcmApp.monitor.view.ventilator-recommender-control">
                    Ventilator Control Mode
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 control-padding">
                <p-radioButton name="controlMode" label="Pressure Control" value="PRESSURE"
                    [(ngModel)]="assignment.ventilatorControlType" (onClick)="onVentilatorControlModeChange()">
                </p-radioButton>
            </div>
            <div class="col-md-12">
                <p-radioButton name="controlMode" label="Volume Control" value="VOLUME"
                    [(ngModel)]="assignment.ventilatorControlType" (onClick)="onVentilatorControlModeChange()">
                </p-radioButton>
            </div>
        </div>
        <div class="row row-separator">
            <div class="col-md-12">
                <label class="form-control-label section-label" jhiTranslate="vcmApp.monitor.view.export-ventilator-logs">
                    Export Ventilator Logs
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" jhiTranslate="vcmApp.monitor.view.from">From</span>
                    </div>
                    <input type="datetime-local" class="form-control" name="logsFrom"  [(ngModel)]="logsFromDateTime"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" jhiTranslate="vcmApp.monitor.view.to">To</span>
                    </div>
                    <input type="datetime-local" class="form-control" name="logsTo" [(ngModel)]="logsToDateTime"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary btn-md" (click)="getVentilatorsLogsAsCsv()"  title="{{ 'vcmApp.monitor.view.export-csv' | translate }}">
                    <fa-icon icon="file-csv"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>
