<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div class="ui-g draggable-component" [class]="visible?'visible':'not-visible'">
    <div *ngIf="!expanded" [ngClass]="expanded?'ui-g-1':'ui-g-12'" class="ui-g flowsheet-cell-container">
        <div  class="flowsheet-cell" [pDraggable]="ddScope" (onDragStart)="onDragStart($event)" (onDragEnd)="onDragEnd($event)">
            <div class="block-cell">{{ name }}</div>
        </div>
    </div>
    <div *ngIf="expanded" class="ui-g-11 ui-g-nopad flowsheet-table">
        <div [pDraggable]="ddScope" (onDragStart)="onDragStart($event)" (onDragEnd)="onDragEnd($event)">
            <p-table [value]="rowValuesToDisplay" [scrollable]="true" scrollHeight="200px"  frozenWidth="162px">
                <ng-template pTemplate="frozenheader" let-val>
                    <tr class="table-row table-header-col">
                        <th class="table-col">{{headerName}} </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="frozenbody" let-val>
                    <tr class="table-row">
                        <td class="table-col table-frozen-cell" [innerHTML]="val.header"></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr class="table-row">
                        <th *ngFor="let col of columnValues" class="table-col">
                            {{col}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-val>
                    <tr class="table-row">
                        <td *ngFor="let rowVal of val.values" class="table-col">
                            {{ rowVal }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div *ngIf="columnValues.length==0" class="flowsheet-no-data">
                No values to display here
            </div>
            <div>
                <div class="historicalLabel">Historical Mode: </div>
                <p-selectButton [options]="scrollModes"
                                [(ngModel)]="!autoScroll"
                                optionValue="value"
                                (click)="changeAutoScroll(autoScroll)">
                </p-selectButton>
            </div>
        </div>
    </div>
</div>
