/**
 * Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 */

@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/variables';

.flowsheet-no-data {
  position: absolute;
  top: 58px;
  margin-left: 10px;
}

.draggable-component {
  padding-top: 2px;
  padding-bottom: 2px;
}

.table-frozen-cell {
  padding: 0.571em 0.857em;
  border: 1px solid #c8c8c8 !important;
  font-weight: 700;
  color: #333333 !important;
  background-color: #e5e5e5 !important;
}

::ng-deep .ui-datatable-scrollable-view .ui-datatable-scrollable-body {
  min-height: 110px;
  padding-top: 5px;
  padding-down: 5px;
}

:host {
  ::ng-deep .hw-block-fieldset .ui-fieldset {
    padding: 0px;
    .ui-fieldset-legend {
      padding: 0px 10px 0px 10px;
      width: fit-content;
      margin: 0px 0px 0px 10px;
    }
    .ui-fieldset-legend-text {
      font-size: 0.7rem;
      font-weight: bold;
      color: black;
    }
    .ui-fieldset-content {
      padding: 0px;
      text-align: center;
      font-size: 0.7rem;
    }
  }

  ::ng-deep .ui-g-nopad {
    width: 100%;
  }

  ::ng-deep .flowsheet-cell {
    width: 100%;
  }

  ::ng-deep .flowsheet-cell-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  ::ng-deep .flowsheet-table {
    padding-top: 5px;
  }

  ::ng-deep .ui-table .ui-table-thead > tr > th {
    height: 20px;
  }

  .table-col {
    width: 100px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .block-cell {
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    padding: 5px;
    font-size: 0.7rem;
    font-weight: bold;
    color: black;
  }

  .table-row {
    text-align: center;
    font-size: 0.66rem;
    height: 20px;
  }

  .table-header-col > .table-col {
    width: 99px;
  }

  tr.table-row > .table-frozen-cell {
    width: 99px;
  }

  th.table-col {
    width: 99px;
    background-color: #e5e5e5 !important;
  }
  .visible {
    display: unset;
  }
  .not-visible {
    display: none;
  }
  .historicalLabel {
    float: left;
    padding-top: 4px;
    padding-right: 4px;
  }
}
