<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div class="ui-g">
        <div [ngClass]="expanded?'ui-g-1':'ui-g-12'" class="ui-g">
            <div [pDraggable]="ddScope" (onDragStart)="onDragStart($event)" (onDragEnd)="onDragEnd($event)">
                <div class="block-cell">{{ name }}</div>
            </div>
        </div>
        <div *ngIf="expanded" class="ui-g-11 ui-g-nopad">
            <p-table [value]="values">
                <ng-template pTemplate="header">
                    <tr class="table-cell">
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-val>
                    <tr class="table-cell">
                        <td *ngFor="let col of columns">
                                {{ col.getValue(val) }}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="table-cell">
                        <td [attr.colspan]="columns.length">
                            No records found
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
</div>
