<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="deviceModel">
            <h2><span jhiTranslate="vcmApp.deviceModel.detail.title">Device Model</span> {{ deviceModel.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="vcmApp.deviceModel.name">Name</span></dt>
                <dd>
                    <span>{{ deviceModel.name }}</span>
                </dd>
                <dt><span jhiTranslate="vcmApp.deviceModel.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'vcmApp.DeviceType.' + deviceModel.type }}">{{ deviceModel.type }}</span>
                </dd>
                <dt><span jhiTranslate="vcmApp.deviceModel.capabilities">Capabilities</span></dt>
                <dd>
                    <span *ngFor="let capabilities of deviceModel.capabilities; let last = last">
                        <a [routerLink]="['/device-capability', capabilities?.id, 'view']">{{ capabilities.type }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/device-model', deviceModel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
