<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-device-model-heading" jhiTranslate="vcmApp.deviceModel.home.createOrEditLabel">Create or edit a Device Model</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vcmApp.deviceModel.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vcmApp.deviceModel.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="GTX">{{ 'vcmApp.DeviceType.GTX' | translate }}</option>
                        <option value="PULSE">{{ 'vcmApp.DeviceType.PULSE' | translate }}</option>
                        <option value="THORNHILL">{{ 'vcmApp.DeviceType.THORNHILL' | translate }}</option>
                        <option value="NIHONKOHDEN">{{ 'vcmApp.DeviceType.NIHONKOHDEN' | translate }}</option>
                        <option value="NEUROWAVE">{{ 'vcmApp.DeviceType.NEUROWAVE' | translate }}</option>
                        <option value="MOCK">{{ 'vcmApp.DeviceType.MOCK' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('type')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="vcmApp.deviceModel.capabilities" for="field_capabilities">Capabilities</label>
                    <select class="form-control" id="field_capabilities" multiple name="capabilities" formControlName="capabilities">
                        <option [ngValue]="getSelected(editForm.get('capabilities')!.value, deviceCapabilityOption)" *ngFor="let deviceCapabilityOption of devicecapabilities; trackBy: trackById">{{ deviceCapabilityOption.type }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('capabilities')!.invalid && (editForm.get('capabilities')!.dirty || editForm.get('capabilities')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('capabilities')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
