<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div>
    <h2 id="page-heading">
        <span jhiTranslate="vcmApp.deviceModel.home.title">Device Models</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-device-model" [routerLink]="['/device-model/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="vcmApp.deviceModel.home.createLabel">
            Create a new Device Model
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="deviceModels?.length === 0">
        <span jhiTranslate="vcmApp.deviceModel.home.notFound">No deviceModels found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="deviceModels?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="vcmApp.deviceModel.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="vcmApp.deviceModel.type">Type</span></th>
                    <th scope="col" ><span jhiTranslate="vcmApp.deviceModel.capabilities">Capabilities</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let deviceModel of deviceModels ;trackBy: trackId">
                    <td><a [routerLink]="['/device-model', deviceModel.id, 'view']">{{ deviceModel.id }}</a></td>
                    <td>{{ deviceModel.name }}</td>
                    <td jhiTranslate="{{ 'vcmApp.DeviceType.' + deviceModel.type }}">{{ deviceModel.type }}</td>
                    <td>
                        <span *ngFor="let capabilities of deviceModel.capabilities; let last = last">
                            <a class="form-control-static" [routerLink]="['/device-capability', capabilities?.id, 'view']">{{ capabilities.type }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/device-model', deviceModel.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/device-model', deviceModel.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(deviceModel)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
