/**
 * Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 */

::ng-deep .alerts {
  z-index: 99999999 !important;
  position: absolute !important;
  top: 90%;
  left: calc((100% - 50%) / 2);
  width: 100% !important;
  /* bring your own prefixes */
  //transform: translate(-50%, -50%);
}

::ng-deep .alert {
  position: fixed;
  width: 50%;
  top: calc(50% - 60px / 2);
}

::ng-deep .alert-danger {
  background-color: rgba(221, 6, 13, 0.8);
}

::ng-deep .alert-info {
  background-color: rgba(52, 152, 219, 0.81);
}
