<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div>
    <div class="alert alert-danger" *ngIf="error">{{ error | translate }}</div>
    <div *ngIf="!error">
        <div class="form-row">
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="vcmApp.pulseController.status">Status</label><br/>
                <label>{{ status }}</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="vcmApp.pulseController.initialState"
                for="field_initialState">Initial State</label>
                <select class="form-control" name="field_initialState" [(ngModel)]="uiState.selectedInitialState" [disabled]="uiState.disableInitialStateDropdown" required>
                    <option [ngValue]="state" *ngFor="let state of states">{{ state }}</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="vcmApp.pulseController.scenario"
                for="field_scenario">Scenario</label>
                <select class="form-control" name="field_scenario" [(ngModel)]="uiState.selectedScenario" [disabled]="uiState.disableScenarioDropdown">
                    <option [ngValue]="scenario" *ngFor="let scenario of scenarios">{{ scenario.name }}</option>
                </select>
            </div>
        </div>
        <!--div class="form-row">
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="vcmApp.pulseController.simulationTime"
                for="field_time">Time</label>
                <select class="form-control" [(ngModel)]="uiState.selectedExecutionSteps" [disabled]="uiState.disableExecutionStepsDropdown" name="field_time">
                    <option value="30">30 sec</option>
                    <option value="60">1 min</option>
                    <option value="300">5 min</option>
                    <option value="900">15 min</option>
                    <option value="1800">30 min</option>
                    <option value="1800">1 hour</option>
                </select>
            </div>
        </div-->
        <div class="form-row">
            <div class="form-group">
                <button type="button" class="btn btn-light btn-md" (click)="startSimulation()"  *ngIf="uiState.showStartButton" title="{{ 'vcmApp.pulseController.start' | translate}}">
                    <fa-icon icon="play"></fa-icon>
                </button>
                <button type="button" class="btn btn-light btn-md" (click)="runSimulation()" *ngIf="uiState.showRunButton" title="{{ 'vcmApp.pulseController.run' | translate }}">
                    <fa-icon icon="play"></fa-icon>
                </button>
                <button type="button" class="btn btn-warning btn-md" (click)="stopSimulation()" *ngIf="uiState.showPauseButton" title="{{ 'vcmApp.pulseController.pause' | translate }}">
                    <fa-icon icon="pause"></fa-icon>
                </button>
                <button type="button" class="btn btn-danger btn-md" (click)="terminateSimulation()" *ngIf="uiState.showTerminateButton" title="{{ 'vcmApp.pulseController.terminate' | translate }}">
                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>
