/**
 * Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 */

:host {
  .ui-g-6 {
    width: 48%;
  }

  .infusion-info {
    position: relative;
    top: -32px;
    left: 12px;
    font-size: 1.52rem;
  }

  .infusion-channel {
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    height: 222px;
    margin-top: 11px;
    padding-left: 12%;
    margin-right: 5px;
    @media screen and (max-width: 1920px) {
      padding-left: 7%;
    }
    // Resolution 1366px
    @media screen and (max-width: 1366px) {
      padding-left: 8%;
    }
    // Resolution 1280px
    @media screen and (max-width: 1280px) {
      padding-left: 10%;
    }
    // Resolution 1024px or below
    @media screen and (max-width: 1024px) {
      padding-left: 12%;
    }
    // Resolution 800 or below
    @media screen and (max-width: 800px) {
      padding-left: 14%;
    }
  }

  .infusion-connect-status {
    float: right;
  }

  .infusion-container {
    position: relative;
    height: inherit;
  }
  .infusion-graph {
    position: absolute;
    top: 15%;
    width: 100%;
    // Resolution 1920px
    @media screen and (max-width: 1920px) {
      top: -12%;
    }
    // Resolution 1366px
    @media screen and (max-width: 1366px) {
      top: 0%;
    }
    // Resolution 1280px
    @media screen and (max-width: 1280px) {
      top: 6%;
    }
    // Resolution 1024px or below
    @media screen and (max-width: 1024px) {
      top: 12%;
      left: 4%;
    }
    // Resolution 800 or below
    @media screen and (max-width: 800px) {
      font-size: 0.65rem;
      padding-left: 8%;
      top: 22%;
      left: 0%;
    }
  }
  .infusion-main-value:hover{
    cursor: pointer;
    background-color: #bababa;
  }
  .infusion-main-value {
    position: absolute;
    top: 36%;
    left: 26%;
    font-size: 1.1rem;
    font-weight: bold;
    // Resolution 1920px
    @media screen and (max-width: 1920px) {
      font-size: 1.25rem;
      left: 27%;
      top: 36%;
    }
    // Resolution 1366px
    @media screen and (max-width: 1366px) {
      font-size: 0.82rem;
      left: 23%;
      top: 37%;
    }
    // Resolution 1280px
    @media screen and (max-width: 1280px) {
      font-size: 0.8rem;
      left: 25%;
    }
    // Resolution 1024px or below
    @media screen and (max-width: 1024px) {
      font-size: 0.73rem;
      left: 25%;
    }
    // Resolution 800 or below
    @media screen and (max-width: 800px) {
      font-size: 0.61rem;
      left: 22%;
      top: 40%;
    }
  }

  .infusion-rate-value {
    position: absolute;
    top: 30%;
    left: 35%;
    font-size: 0.75rem;
    font-weight: bold;
    // Resolution 1920px
    @media screen and (max-width: 1920px) {
      font-size: 1rem;
      top: 24%;
      left: 36%;
    }
    // Resolution 1366px
    @media screen and (max-width: 1366px) {
      font-size: 0.7rem;
      top: 31%;
    }
    // Resolution 1280px
    @media screen and (max-width: 1280px) {
      font-size: 0.69rem;
      top: 31%;
    }
    // Resolution 1024px or below
    @media screen and (max-width: 1024px) {
      font-size: 0.68rem;
      top: 31%;
      left: 35%;
    }
    // Resolution 800 or below
    @media screen and (max-width: 800px) {
      font-size: 0.6rem;
      top: 35%;
      left: 31%;
    }
  }

  .infusion-drug {
    position: absolute;
    top: -9px;
    left: -33%;
    font-size: 0.6rem;
    font-weight: bold;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    height: 18px;
    line-height: 18px;
    // Resolution 1920px
    @media screen and (max-width: 1920px) {
      left: -16%;
    }
    // Resolution 1366px
    @media screen and (max-width: 1366px) {
      left: -22%;
    }
    // Resolution 1280px
    @media screen and (max-width: 1280px) {
      left: -25%;
    }
    // Resolution 1024px or below
    @media screen and (max-width: 1024px) {
      left: -32%;
    }
    // Resolution 800 or below
    @media screen and (max-width: 800px) {
      left: -40%;
    }
  }

  .cds-label {
    position: absolute;
    top: -9px;
    right: 50px;
    font-size: 0.6rem;
    font-weight: bold;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    height: 18px;
    line-height: 18px;
  }

  .locus-of-control-label {
    position: absolute;
    top: -9px;
    right: 0px;
    font-size: 0.6rem;
    font-weight: bold;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    height: 18px;
    line-height: 18px;
  }

  .cds-color {
    background-color: rgb(219, 255, 167);
  }

  .no-cds-color {
    background-color: white;
  }

  .remote-color {
    background-color: rgb(253, 180, 168);
  }

  .local-color {
    background-color: rgb(219, 255, 167);
  }

  .label-separator {
    right: 60px;
  }

  .infusion-min-value {
    position: absolute;
    top: 110px;
    left: 5%;
    font-size: 0.75rem;
    font-weight: bold;
    // Resolution 1920px
    @media screen and (max-width: 1920px) {
      left: 4%;
      top: 49%;
    }
    // Resolution 1366px
    @media screen and (max-width: 1366px) {
      left: 2%;
      top: 50%;
    }
    // Resolution 1280px
    @media screen and (max-width: 1280px) {
      top: 50%;
    }
    // Resolution 1024px or below
    @media screen and (max-width: 1024px) {
      top: 45%;
      left: 0%;
    }
    // Resolution 800 or below
    @media screen and (max-width: 800px) {
      top: 48%;
      left: -2%;
    }
  }

  .infusion-max-value {
    position: absolute;
    top: 130px;
    left: 50%;
    font-size: 0.75rem;
    font-weight: bold;
    // Resolution 1920px
    @media screen and (max-width: 1920px) {
      left: 57%;
      top: 62%;
    }
    // Resolution 1366px
    @media screen and (max-width: 1366px) {
      left: 45%;
      top: 56%;
    }
    // Resolution 1280px
    @media screen and (max-width: 1280px) {
      top: 54%;
    }
    // Resolution 1024px or below
    @media screen and (max-width: 1024px) {
      left: 44%;
      top: 50%;
    }
    // Resolution 800 or below
    @media screen and (max-width: 800px) {
      left: 42%;
      top: 52%;
    }
  }

  .infusion-time-remaining {
    position: absolute;
    top: 146px;
    left: 4%;
    // Resolution 1920px
    @media screen and (max-width: 1920px) {
      top: 146px;
      left: 4%;
    }
    // Resolution 1366px
    @media screen and (max-width: 1366px) {
      left: -5%;
    }
    // Resolution 1280px
    @media screen and (max-width: 1280px) {
      left: -12%;
    }
    // Resolution 1024px or below
    @media screen and (max-width: 1024px) {
      left: -17%;
    }
    // Resolution 800 or below
    @media screen and (max-width: 800px) {
      left: -24%;
    }
  }

  .infusion-controls {
    position: relative;
    top: -50px;
    left: 97%;
    // Resolution 1920px
    @media screen and (max-width: 1920px) {
      top: -50px;
    }
    // Resolution 1366px
    @media screen and (max-width: 1366px) {
      left: -12%;
    }
  }

  .infusion-time-value {
    font-size: 1rem;
    font-weight: bold;
    width: 180px;
    text-align: center;
  }

  .infusion-btn-action {
    border: none;
    width: auto;
    height: 29px;
    margin-right: 5px;
    background-color: transparent;
  }

  .infusion-btn-action:focus {
    outline: none;
  }

  ::ng-deep .infusion-fieldset .ui-fieldset {
    padding: 0px;
    .ui-fieldset-content-wrapper {
      height: 100%;
    }
    .ui-fieldset-legend {
      padding: 0px 10px 0px 10px;
      width: fit-content;
      margin: 0px 0px 0px 10px;
    }
    .ui-fieldset-legend-text {
      font-size: 0.6rem;
      font-weight: bold;
      color: black;
    }
    .ui-fieldset-content {
      padding: 0px;
      text-align: unset;
      font-size: 0.6rem;
      height: 100%;
    }
    ::ng-deep .fieldset-header {
      font-size: 0.6rem;
      font-weight: bold;
      color: black;
      vertical-align: middle;
    }
  }

  .infusion-fieldset-header {
    font-size: 0.6rem;
    font-weight: bold;
    color: #4e4e4e;
    vertical-align: middle;
    padding: 5px;
  }

  ::ng-deep text.jqx-knob-label {
    stroke: black;
    stroke-width: 1;
    height: 180px;
    position: relative;
    font-size: 15px;
  }

  jqxNumberInput > div {
    left: 170px;
    top: 323px;
    position: absolute;
    background: transparent !important;
    border: none !important;
  }
  text.jqx-knob-label {
  }
  jqxNumberInput > div > input {
    background: transparent !important;
    font-size: 20px !important;
    color: grey !important;
  }
  // Percentage batery CSS
  .blinking {
    animation: mymove 1s infinite alternate;
  }

  @keyframes mymove {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .regular-percentage-color {
    color: #000000;
    background-color: transparent;
  }

  .red-percentage-color {
    color: red;
    background-color: transparent;
  }

  // Medicine colors
  .fnt-black {
    color: #000000;
  }
  .fnt-blue {
    color: #85c7e3;
  }
  .fnt-white {
    color: #ffffff;
  }
  .bg-white {
    background-color: #ffffff;
  }
  .bg-yellow {
    background-color: #ffff00;
  }
  .bg-orange {
    background-color: #ff6600;
  }
  .bg-orange-stripes {
    height: 18px;
    line-height: 18px;
    background-image: linear-gradient(
      135deg,
      #ff6600 25%,
      transparent 25%,
      transparent 50%,
      #ff6600 50%,
      #ff6600 75%,
      transparent 75%,
      #fff
    );
    background-size: 10px 10px;
  }
  .bg-fluorecent-red-805 {
    background-color: #ff7276;
  }
  .bg-fluorecent-red-811 {
    background-color: #fd7956;
  }
  .bg-red {
    background-color: #f54029;
  }
  .bg-red-stripes {
    height: 15px;
    background-image: linear-gradient(
      135deg,
      #ff7276 25%,
      transparent 25%,
      transparent 50%,
      #ff7276 50%,
      #ff7276 75%,
      transparent 75%,
      #fff
    );
    background-size: 10px 10px;
  }
  .bg-blue {
    background-color: #85c7e3;
  }
  .bg-blue-stripes {
    height: 18px;
    line-height: 18px;
    background-image: linear-gradient(
      135deg,
      #85c7e3 25%,
      transparent 25%,
      transparent 50%,
      #85c7e3 50%,
      #85c7e3 75%,
      transparent 75%,
      #fff
    );
    background-size: 10px 10px;
  }
  .bg-salmon {
    background-color: #edc282;
  }
  .bg-violet {
    background-color: #debfd9;
  }
  .bg-violet-stripes {
    height: 18px;
    line-height: 18px;
    background-image: linear-gradient(
      135deg,
      #debfd9 25%,
      transparent 25%,
      transparent 50%,
      #debfd9 50%,
      #debfd9 75%,
      transparent 75%,
      #fff
    );
    background-size: 10px 10px;
  }
  .bg-grey {
    background-color: #c2b8ab;
  }
  .bg-green {
    background-color: #a3d963;
  }
  .bg-copper {
    background-color: #b08770;
  }
  ::ng-deep .hw-block-fieldset .ui-fieldset {
    padding: 0px;
    height: 70px;
    .ui-fieldset-legend {
      padding: 0px 10px 0px 10px;
      width: fit-content;
      margin: 0px 0px 0px 10px;
    }
    .ui-fieldset-legend-text {
      font-size: 0.7rem;
      font-weight: bold;
      color: black;
    }
    .ui-fieldset-content {
      padding: 0px;
      text-align: center;
      font-size: 0.7rem;
    }
  }
  ::ng-deep .limit > .input-div > .hw-block-fieldset .ui-fieldset {
    padding: 0px;
    height: 65px;
    .ui-fieldset-legend {
      padding: 0px 10px 0px 10px;
      width: fit-content;
      margin: 0px 0px 0px 10px;
    }
    .ui-fieldset-legend-text {
      font-size: 0.7rem;
      font-weight: bold;
    }
    .ui-fieldset-content {
      padding: 0px;
      text-align: center;
      font-size: 0.7rem;
    }
    .fieldset-header.grayed {
      color: #b6b6b6;
    }
  }
  ::ng-deep .ui-tabview.ui-tabview-top {
    height: 100%;
  }

  ::ng-deep  .ui-tabview-panel.ui-widget-content.ng-star-inserted {
    min-height: 470px;
    width: 740px;
  }

  ::ng-deep .ui-tabview .ui-tabview-panels {
    border: 1px solid #c8c8c8;
    height: 95%;
  }
  .numpad-area {
    padding-top: 20px;
  }
  .numpad-btn {
    height: 40px;
    border: 1px solid #e8e8e8;
    text-align: center;
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .numpad-btn-nb {
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .numpad-btn-action {
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    background-color: white;
    border: 1px solid #898989;
    font-size: xx-large;
  }
  .dialog-input {
    border: 0px;
    height: 30px;
    font-size: 28px;
    width: 90px;
  }
  .limits.dialog-input {
    border: 0px;
    height: 20px;
    font-size: 20px;
    width: 40px;
    outline: none;
  }
  .limits.dialog-input.grayed {
    color: #b6b6b6;
    outline: none;
  }
  .dialog-input-new {
    color: red;
  }
  .limits.dialog-input-new {
    color: #000000;
    outline: none;
  }
  .limits.dialog-input-new.grayed {
    color: #b6b6b6;
    outline: none;
  }
  .limits.dialog-input-new.grayed:focus {
    border-color: #b6b6b6;
    outline: none;
  }
  .input-div {
    padding-left: 20px;
    padding-right: 20px;
  }
  // Batteries styles

  .power-btn-action {
    border: none;
    width: auto;
    height: 26px;
    margin-right: 5px;
  }

  .power-btn-action:focus {
    outline: none;
  }

  .power-connect-status {
    position: absolute;
    font-size: 1.7rem;
    top: -18px;
    left: 90%;
    // Resolution 1920px
    @media screen and (min-width: 1920px) {
      left: 82%;
    }
  }
  .power-connect-status-bolt {
    position: absolute;
    color: black;
    background: transparent;
    font-size: 0.6rem;
    top: 4px;
    left: 93.5%;
    // Resolution 1920px
    @media screen and (min-width: 1920px) {
      left: 93%;
    }
  }
  // Size of settings popup
  ::ng-deep .ui-dialog-content {
    width: 800px;
    height: 550px;
  }
}
