<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div>
   <p-dialog modal="true" [(visible)]="displayModal" class="flipping-card">
    <p-header title="Bolus Rate"></p-header>
       <p-tabView>
           <!--Current Channel Settings -->
           <p-tabPanel header="Current Channel Settings">
               <div class="ui-g-12 m-row m-row7">
                     <div class="ui-g-2 m-row"></div>
                     <div class="ui-g-4 m-row input-div">
                        <p-fieldset class="hw-block-fieldset">
                            <p-header class="fieldset-header">Current VTBI</p-header>
                            <input type="text" class="dialog-input" pInputText [value]="vtbi" (focus)="setInput('')">
                        </p-fieldset>
                     </div>
                     <div class="ui-g-4 m-row input-div">
                        <p-fieldset class="hw-block-fieldset">
                            <p-header class="fieldset-header">New VTBI</p-header>
                            <input type="text" class="dialog-input dialog-input-new" pInputText [value]="newVtbi" (focus)="setInput('newVtbi')" (change)="numpadNewVtbi($event)">
                        </p-fieldset>
                     </div>
                     <div class="ui-g-2 m-row"></div>
               </div>
               <div class="ui-g-12 m-row m-row7">
                    <div class="ui-g-2 m-row"></div>
                    <div class="ui-g-4 m-row input-div">
                       <p-fieldset class="hw-block-fieldset">
                           <p-header class="fieldset-header">Current Rate</p-header>
                           <input type="text" class="dialog-input" pInputText [value]="rate" (focus)="setInput('')">
                       </p-fieldset>
                    </div>
                    <div class="ui-g-4 m-row input-div">
                       <p-fieldset class="hw-block-fieldset">
                           <p-header class="fieldset-header">New Rate</p-header>
                           <input type="text" class="dialog-input dialog-input-new" pInputText [value]="newRate" (focus)="setInput('newRate')" (change)="numpadNewRate($event)">
                       </p-fieldset>
                    </div>
                    <div class="ui-g-2 m-row"></div>
               </div>
                <!-- numpad -->
                <div class="ui-g-12 m-row numpad-area">
                    <div class="ui-g-1 m-row numpad-btn-nb"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(1)">1</div>
                    <div class="ui-g-2 m-vtbirow"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(2)">2</div>
                    <div class="ui-g-2 m-row"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(3)">3</div>
                    <div class="ui-g-1 m-row numpad-btn-nb"></div>

                    <div class="ui-g-1 m-row numpad-btn-nb"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(4)">4</div>
                    <div class="ui-g-2 m-row"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(5)">5</div>
                    <div class="ui-g-2 m-row"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(6)">6</div>
                    <div class="ui-g-1 m-row numpad-btn-nb"></div>
                    <!-- left separator -->
                    <div class="ui-g-1 m-row numpad-btn-nb"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(7)">7</div>
                    <div class="ui-g-2 m-row"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(8)">8</div>
                    <div class="ui-g-2 m-row"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(9)">9</div>
                    <div class="ui-g-1 m-row numpad-btn-nb"></div>
                    <!-- left separator -->
                    <div class="ui-g-2 m-row numpad-btn-nb"></div>
                    <button type="button" class="ui-g-2 numpad-btn-action" (click)="applyChannelSettings()">
                        <fa-icon [icon]="check"></fa-icon>
                    </button>
                    <div class="ui-g-1 m-row"></div>
                    <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(0)">0</div>
                    <div class="ui-g-1 m-row"></div>
                    <button pButton type="button" class="ui-g-2 numpad-btn-action" (click)="closeDialog()">
                        <fa-icon [icon]="cancel"></fa-icon>
                    </button>
                    <div class="ui-g-2 m-row numpad-btn-nb"></div>
                </div>

           </p-tabPanel>
           <!--Bolus Settings -->
           <p-tabPanel header="Bolus Settings">
               <div class="ui-g-12 m-row m-row7">
                   <div class="ui-g-2 m-row"></div>
                   <div class="ui-g-4 m-row input-div">
                       <!--p-fieldset class="hw-block-fieldset">
                           <p-header class="fieldset-header">Current Bolus Volume</p-header>
                           <input type="text" class="dialog-input" pInputText [value]="bolus" (focus)="setInput('')">
                       </p-fieldset-->
                       <p-fieldset class="hw-block-fieldset">
                           <p-header class="fieldset-header">New Bolus Volume</p-header>
                           <input type="text" class="dialog-input dialog-input-new" pInputText [value]="newBolus" (focus)="setInput('newBolus')" (change)="numpadNewBolus($event)">
                       </p-fieldset>
                   </div>
                   <div class="ui-g-4 m-row input-div">
                       <!--p-fieldset class="hw-block-fieldset">
                           <p-header class="fieldset-header">New Bolus Volume</p-header>
                           <input type="text" class="dialog-input dialog-input-new" pInputText [value]="newBolus" (focus)="setInput('newBolus')" (change)="numpadNewBolus($event)">
                       </p-fieldset-->
                       <p-fieldset class="hw-block-fieldset">
                           <p-header class="fieldset-header">New Bolus Rate</p-header>
                           <input type="text" class="dialog-input dialog-input-new" pInputText [value]="newBolusRate" (focus)="setInput('newBolusRate')" (change)="numpadNewBolusRate($event)">
                       </p-fieldset>
                   </div>
                   <div class="ui-g-2 m-row"></div>
               </div>
               <!--div class="ui-g-12 m-row m-row7">
                   <div class="ui-g-2 m-row"></div>
                   <div class="ui-g-4 m-row input-div">
                       <p-fieldset class="hw-block-fieldset">
                           <p-header class="fieldset-header">Current Bolus Rate</p-header>
                           <input type="text" class="dialog-input" pInputText [value]="bolusRate" (focus)="setInput('')">
                       </p-fieldset>
                   </div>
                   <div class="ui-g-4 m-row input-div">
                       <p-fieldset class="hw-block-fieldset">
                           <p-header class="fieldset-header">New Bolus Rate</p-header>
                           <input type="text" class="dialog-input dialog-input-new" pInputText [value]="newBolusRate" (focus)="setInput('newBolusRate')" (change)="numpadNewBolusRate($event)">
                       </p-fieldset>
                   </div>
                   <div class="ui-g-2 m-row"></div>
               </div-->
               <div class="ui-g-12 m-row"></div>
               <!-- numpad -->
               <div class="ui-g-12 m-row numpad-area">
                   <div class="ui-g-1 m-row numpad-btn-nb"></div>
                   <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(1)">1</div>
                   <div class="ui-g-2 m-row"></div>
                   <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(2)">2</div>
                   <div class="ui-g-2 m-row"></div>
                   <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(3)">3</div>
                   <div class="ui-g-1 m-row numpad-btn-nb"></div>

                   <div class="ui-g-1 m-row numpad-btn-nb"></div>
                   <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(4)">4</div>
                   <div class="ui-g-2 m-row"></div>
                   <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(5)">5</div>
                   <div class="ui-g-2 m-row"></div>
                   <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(6)">6</div>
                   <div class="ui-g-1 m-row numpad-btn-nb"></div>
                   <!-- left separator -->
                   <div class="ui-g-1 m-row numpad-btn-nb"></div>
                   <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(7)">7</div>
                   <div class="ui-g-2 m-row"></div>
                   <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(8)">8</div>
                   <div class="ui-g-2 m-row"></div>
                   <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(9)">9</div>
                   <div class="ui-g-1 m-row numpad-btn-nb"></div>
                   <!-- left separator -->
                   <div class="ui-g-2 m-row numpad-btn-nb"></div>
                   <button type="button" class="ui-g-2 numpad-btn-action" (click)="applyBolusSettings()">
                       <fa-icon [icon]="check"></fa-icon>
                   </button>
                   <div class="ui-g-1 m-row"></div>
                   <div class="ui-g-2 m-row numpad-btn" (click)="numpadClick(0)">0</div>
                   <div class="ui-g-1 m-row"></div>
                   <button pButton type="button" class="ui-g-2 numpad-btn-action" (click)="closeDialog()">
                       <fa-icon [icon]="cancel"></fa-icon>
                   </button>
                   <div class="ui-g-2 m-row numpad-btn-nb"></div>
               </div>

           </p-tabPanel>
       </p-tabView>
</p-dialog>
</div>
<div class="infusion-info ui-g-12">
    <button type="button" [class]="iconClass(batteryPercentage)" class="ui-g-2 power-btn-action power-connect-status">
        <fa-icon [icon]="batteryConnectStatus"></fa-icon>
    </button>
    <button type="button" [hidden]="!batteryConnectStatusBoltVisible" class="ui-g-2 power-btn-action power-connect-status-bolt">
        <fa-icon [icon]="batteryConnectStatusBolt"></fa-icon>
    </button>
</div>
<div class="infusion-info ui-g-12">
    <div #infChannel1 class="infusion-channel ui-g-6">
        <div class="infusion-container">
            <div class="infusion-drug" [className]="medicineColorClass(pumpMedicineBgClass1, pumpMedicineFntClass1)">
                {{pumpMedicine1}}
            </div>
            <div class="cds-label" [class]="cdsColorClass(cds1, locusOfControl1)">
                {{cds1}}
            </div>
            <div class="locus-of-control-label" [class]="locusClass(locusOfControl1)">
                {{locusOfControl1}}
            </div>
            <div class="infusion-graph">
                <ng-container *ngIf="redraw">
                    <jqxKnob #myKnob1 [allowValueChangeOnDrag]="false" [allowValueChangeOnClick]="false" [allowValueChangeOnMouseWheel]="false"
                             (onChange)="onChange($event, 'pump1')" [width]="getPumpSize()" [height]="getPumpSize()"
                             [value]="rateValue1" [min]="0" [max]="100" [startAngle]="180"
                             [endAngle]="380" [snapToStep]="true" [rotation]="'clockwise'" [style]="style"
                             [marks]="marks" [labels]="labels" [progressBar]="progressBar" [pointer]="pointer">
                    </jqxKnob>
                </ng-container>
            </div>
            <div class="infusion-rate-value">
                {{rateValue1}} %
            </div>
            <div class="infusion-min-value">
                VI: {{pumpVi1}} cc
            </div>
            <div class="infusion-main-value" (click)="openDialog(pumpVtbi1, currentRate1, bolus1, bolusRate1, hwId, ':1')">
                {{currentRate1}} cc/hr
            </div>
            <div class="infusion-max-value">
                VTBI: {{pumpVtbi1}} cc
            </div>
            <div class="infusion-time-remaining">
                <p-fieldset class="infusion-fieldset" >
                    <p-header class="infusion-fieldset-header">Time Remaining</p-header>
                    <div class="infusion-time-value">{{timeRemaining1}}</div>
                </p-fieldset>
                <div class="infusion-controls">
                    <button type="button" class="ui-g-2 infusion-btn-action" (click)="playOrPause('pump1')" [disabled]="actionchannel1disabled">
                        <fa-icon [style]="getStyleChannel1()" [icon]="pumpStatus1"></fa-icon>
                    </button>
                    <!--button type="button" class="ui-g-2 infusion-btn-action" [pTooltip]="getBolusHints(bolus1, bolusRate1)" (click)="forwardAction('pump1')">
                        <fa-icon [icon]="forward"></fa-icon>
                    </button-->
                </div>
            </div>
        </div>
    </div>
    <div class="infusion-channel ui-g-6">
        <div class="infusion-container">
            <div class="infusion-drug" [className]="medicineColorClass(pumpMedicineBgClass2, pumpMedicineFntClass2)">
                {{pumpMedicine2}}
            </div>
            <div class="cds-label" [class]="cdsColorClass(cds2, locusOfControl2)">
                {{cds2}}
            </div>
            <div class="locus-of-control-label" [class]="locusClass(locusOfControl2)">
                {{locusOfControl2}}
            </div>
            <div class="infusion-graph">
                <ng-container *ngIf="redraw">
                    <jqxKnob #myKnob2 [allowValueChangeOnDrag]="false" [allowValueChangeOnClick]="false" [allowValueChangeOnMouseWheel]="false"
                             (onChange)="onChange($event, 'pump2')" [width]="getPumpSize()" [height]="getPumpSize()"
                             [value]="rateValue2" [min]="0" [max]="100" [startAngle]="180"
                             [endAngle]="380" [snapToStep]="true" [rotation]="'clockwise'" [style]="style"
                             [marks]="marks" [labels]="labels" [progressBar]="progressBar" [pointer]="pointer">
                    </jqxKnob>
                </ng-container>
            </div>
            <div class="infusion-rate-value">
                {{rateValue2}} %
            </div>
            <div class="infusion-min-value">
                VI: {{pumpVi2}} cc
            </div>
            <div class="infusion-main-value" (click)="openDialog(pumpVtbi2, currentRate2, bolus2, bolusRate2, hwId ,':2')">
                {{currentRate2}} cc/hr
            </div>
            <div class="infusion-max-value">
                VTBI: {{pumpVtbi2}} cc
            </div>
            <div class="infusion-time-remaining">
                <p-fieldset class="infusion-fieldset" >
                    <p-header class="infusion-fieldset-header">Time Remaining</p-header>
                    <div class="infusion-time-value">{{timeRemaining2}}</div>
                </p-fieldset>
                <div class="infusion-controls">
                    <button type="button" class="ui-g-2 infusion-btn-action" (click)="playOrPause('pump2')" [disabled]="actionchannel2disabled">
                        <fa-icon [style]="getStyleChannel2()" [icon]="pumpStatus2"></fa-icon>
                    </button>
                    <!--button type="button" class="ui-g-2 infusion-btn-action" [pTooltip]="getBolusHints(bolus2, bolusRate2)" (click)="forwardAction('pump2')">
                        <fa-icon [icon]="forward"></fa-icon>
                    </button-->
                </div>
            </div>
        </div>
    </div>
</div>
