<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div>
    <h2 id="page-heading">
        <span jhiTranslate="vcmApp.deviceCapability.home.title">Device Capabilities</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="deviceCapabilities?.length === 0">
        <span jhiTranslate="vcmApp.deviceCapability.home.notFound">No deviceCapabilities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="deviceCapabilities?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="vcmApp.deviceCapability.type">Type</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let deviceCapability of deviceCapabilities ;trackBy: trackId">
                    <td><a [routerLink]="['/device-capability', deviceCapability.id, 'view']">{{ deviceCapability.id }}</a></td>
                    <td jhiTranslate="{{ 'vcmApp.DeviceCapabilityType.' + deviceCapability.type }}">{{ deviceCapability.type }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/device-capability', deviceCapability.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
