<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div>
    <h2>
        <span id="health-page-heading" jhiTranslate="health.title">Health Checks</span>

        <button class="btn btn-primary float-right" (click)="refresh()">
            <fa-icon icon="sync"></fa-icon> <span jhiTranslate="health.refresh.button">Refresh</span>
        </button>
    </h2>

    <div class="table-responsive">
        <table id="healthCheck" class="table table-striped" aria-describedby="health-page-heading">
            <thead>
                <tr>
                    <th scope="col" jhiTranslate="health.table.service">Service Name</th>
                    <th scope="col" class="text-center" jhiTranslate="health.table.status">Status</th>
                    <th scope="col" class="text-center" jhiTranslate="health.details.details">Details</th>
                </tr>
            </thead>
            <tbody *ngIf="health">
                <tr *ngFor="let componentHealth of health.components | keys">
                    <td>
                        {{ 'health.indicator.' + componentHealth.key | translate }}
                    </td>
                    <td class="text-center">
                        <span class="badge" [ngClass]="getBadgeClass(componentHealth.value.status)" jhiTranslate="{{ 'health.status.' + componentHealth.value.status }}">
                            {{ componentHealth.value.status }}
                        </span>
                    </td>
                    <td class="text-center">
                        <a class="hand" (click)="showHealth(componentHealth)" *ngIf="componentHealth.value.details">
                            <fa-icon icon="eye"></fa-icon>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
