<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div>
    <h2 id="tracker-page-heading" jhiTranslate="tracker.title">Real-time user activities</h2>

    <div class="table-responsive">
        <table class="table table-striped" aria-describedby="tracker-page-heading">
            <thead>
                <tr>
                    <th scope="col" jhiTranslate="tracker.table.userlogin">User</th>
                    <th scope="col" jhiTranslate="tracker.table.ipaddress">IP Address</th>
                    <th scope="col" jhiTranslate="tracker.table.page">Current page</th>
                    <th scope="col" jhiTranslate="tracker.table.time">Time</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let activity of activities">
                    <td>{{ activity.userLogin }}</td>
                    <td>{{ activity.ipAddress }}</td>
                    <td>{{ activity.page }}</td>
                    <td>{{ activity.time | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
