<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="assignment">
            <h2><span jhiTranslate="vcmApp.assignment.detail.title">Assignment</span> {{ assignment.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="vcmApp.assignment.patientId">Patient Id</span></dt>
                <dd>
                    <span>{{ assignment.patientId }}</span>
                </dd>
                <dt><span jhiTranslate="vcmApp.assignment.mrn">MRN</span></dt>
                <dd>
                    <span>{{ assignment.mrn }}</span>
                </dd>
                <dt><span jhiTranslate="vcmApp.assignment.active">Active</span></dt>
                <dd>
                    <span>{{ assignment.active }}</span>
                </dd>
                <dt><span jhiTranslate="vcmApp.assignment.ventilatorMode">Ventilator Mode</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'vcmApp.VentilatorModeType.' + assignment.ventilatorMode }}">{{ assignment.ventilatorMode }}</span>
                </dd>
                <dt><span jhiTranslate="vcmApp.assignment.ventilatorRecommenderType">Ventilator Recommender Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'vcmApp.VentilatorRecommenderType.' + assignment.ventilatorRecommenderType }}">{{ assignment.ventilatorRecommenderType }}</span>
                </dd>
                <dt><span jhiTranslate="vcmApp.assignment.ventilatorRecommenderControlType">Ventilator Recommender Control Mode</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'vcmApp.VentilatorRecommenderControlType.' + assignment.ventilatorControlType }}"> {{ assignment.ventilatorControlType }}</span>
                </dd>
            </dl>
            <table *ngIf="assignment && assignment.devices && assignment.devices.length > 0" class="table table-striped" aria-describedby="page-heading">
                <thead>
                    <tr>
                        <th scope="col"><span jhiTranslate="vcmApp.assignment.dataSource">Data Source</span></th>
                        <th scope="col"><span jhiTranslate="vcmApp.assignment.device">Device</span></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let device of assignment!.devices">
                        <td>{{ device.capability.type }}</td>
                        <td><a [routerLink]="['/device', device.device.id, 'view']">{{ device.device.hardwareId }}</a></td>
                        <td class="text-right">
                        </td>
                    </tr>
                </tbody>
            </table>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/assignment', assignment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
