<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div>
    <h2 id="page-heading">
        <span jhiTranslate="vcmApp.assignment.home.title">Assignments</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-assignment" [routerLink]="['/assignment/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="vcmApp.assignment.home.createLabel">
            Create a new Assignment
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="assignments?.length === 0">
        <span jhiTranslate="vcmApp.assignment.home.notFound">No assignments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="assignments?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="vcmApp.assignment.patientId">Patient Id</span></th>
                    <th scope="col" ><span jhiTranslate="vcmApp.assignment.mrn">MRN</span></th>
                    <th scope="col" ><span jhiTranslate="vcmApp.assignment.active">Active</span></th>
                    <th scope="col" ><span jhiTranslate="vcmApp.assignment.ventilatorMode">Ventilator Mode</span></th>
                    <th scope="col" ><span jhiTranslate="vcmApp.assignment.ventilatorRecommenderType">Ventilator Recommender Type</span></th>
                    <th scope="col" ><span jhiTranslate="vcmApp.assignment.ventilatorRecommenderControlType">Ventilator Recommender Control Mode</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let assignment of assignments ;trackBy: trackId">
                    <td><a [routerLink]="['/assignment', assignment.id, 'view']">{{ assignment.id }}</a></td>
                    <td>{{ assignment.patientId }}</td>
                    <td>{{ assignment.mrn }}</td>
                    <td>{{ assignment.active }}</td>
                    <td jhiTranslate="{{ 'vcmApp.VentilatorModeType.' + assignment.ventilatorMode }}">{{ assignment.ventilatorMode }}</td>
                    <td jhiTranslate="{{ 'vcmApp.VentilatorRecommenderType.' + assignment.ventilatorRecommenderType }}">{{ assignment.ventilatorRecommenderType }}</td>
                    <td jhiTranslate="{{ 'vcmApp.VentilatorRecommenderControlType.' + assignment.ventilatorControlType }}">{{ assignment.ventilatorControlType }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/assignment', assignment.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/assignment', assignment.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(assignment)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
