<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-assignment-heading" jhiTranslate="vcmApp.assignment.home.createOrEditLabel">Create or edit a
                Assignment</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vcmApp.assignment.patientId"
                        for="field_patientId">Patient Id</label>
                    <input type="text" class="form-control" name="patientId" id="field_patientId"
                        formControlName="patientId" />
                    <div
                        *ngIf="editForm.get('patientId')!.invalid && (editForm.get('patientId')!.dirty || editForm.get('patientId')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('patientId')?.errors?.required"
                            jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vcmApp.assignment.mrn"
                           for="field_mrn">MRN</label>
                    <input type="text" class="form-control" name="mrn" id="field_mrn"
                           formControlName="mrn" />
                    <div
                        *ngIf="editForm.get('mrn')!.invalid && (editForm.get('mrn')!.dirty || editForm.get('mrn')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('mrn')?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

		<div class="form-group">
                    <label class="form-control-label" jhiTranslate="vcmApp.assignment.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                           formControlName="active"/>
                </div>
		<div class="form-group">
                    <label class="form-control-label" jhiTranslate="vcmApp.assignment.ventilatorMode" for="field_ventilatorMode">Ventilator Mode</label>
                    <select class="form-control" name="ventilatorMode" formControlName="ventilatorMode" id="field_ventilatorMode">
                        <option value="MANUAL">{{ 'vcmApp.VentilatorModeType.MANUAL' | translate }}</option>
                        <option value="OPEN">{{ 'vcmApp.VentilatorModeType.OPEN' | translate }}</option>
                        <option value="CLOSED">{{ 'vcmApp.VentilatorModeType.CLOSED' | translate }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vcmApp.assignment.ventilatorRecommenderType" for="field_ventilatorRecommenderType">Ventilator Recommender Type</label>
                    <select class="form-control" name="ventilatorRecommenderType" formControlName="ventilatorRecommenderType" id="field_ventilatorRecommenderType">
                        <option value="AI">{{ 'vcmApp.VentilatorRecommenderType.AI' | translate }}</option>
                        <option value="RULE_BASED">{{ 'vcmApp.VentilatorRecommenderType.RULE_BASED' | translate }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vcmApp.assignment.ventilatorRecommenderControlType" for="field_ventilatorRecommenderControlType">Ventilator Recommender Control Mode</label>
                    <select class="form-control" name="ventilatorControlType" formControlName="ventilatorControlType" id="field_ventilatorRecommenderControlType">
                        <option value="PRESSURE">{{ 'vcmApp.VentilatorRecommenderControlType.PRESSURE' | translate }}</option>
                        <option value="VOLUME">{{ 'vcmApp.VentilatorRecommenderControlType.VOLUME' | translate }}</option>
                    </select>
                </div>


                <label class="form-control-label" jhiTranslate="vcmApp.assignment.dataSource_slash_device" for="field_capability">Data Source / Device</label>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <select class="form-control" name="capability" formControlName="selectedNewCapability" (change)="onDataSourceChange()">
                            <option></option>
                            <option [ngValue]="capability" *ngFor="let capability of deviceCapabilities">{{ capability.type }}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-7">
                        <select class="form-control" name="device" formControlName="selectedNewDevice">
                            <option [ngValue]="device" *ngFor="let device of devicesForSelectedCapability">{{ device.hardwareId }}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-1">
                        <button type="button" class="btn btn-success btn-md" (click)="onDataSourceAdd()" [hidden]="!editForm.get('selectedNewCapability')?.value || !editForm.get('selectedNewDevice')?.value ">
                            <fa-icon icon="plus"></fa-icon>
                            <span class="d-none d-md-inline"
                                jhiTranslate="vcmApp.assignment.add">Add</span>
                        </button>
                    </div>
                </div>

                <table *ngIf="assignment && assignment.devices && assignment.devices.length > 0" class="table table-striped" aria-describedby="page-heading">
                    <thead>
                        <tr>
                            <th scope="col"><span jhiTranslate="vcmApp.assignment.dataSource">Data Source</span></th>
                            <th scope="col"><span jhiTranslate="vcmApp.assignment.device">Device</span></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let device of assignment!.devices ;trackBy: trackDeviceId">
                            <td>{{ device.capability.type }}</td>
                            <td><a [routerLink]="['/device', device.device.id, 'view']">{{ device.device.hardwareId }}</a></td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger btn-sm" (click)="onDataSourceDeleted(device.device.hardwareId, device.capability.type)">
                                        <fa-icon icon="times"></fa-icon>
                                        <span class="d-none d-md-inline"
                                            jhiTranslate="entity.action.delete">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
