<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div [className]="visible ? 'drawer-visible' : 'drawer-invisible' ">
    <div class="h-100" >
        <button [hidden]="true" type="text" (click)="expanded = true" pButton icon="pi pi-plus" label="Show">&lt;&lt;</button>
        <p-sidebar  [(visible)]="expanded" position="right" [style]="{width:'400px'}">
            <router-outlet name="drawer-outlet"></router-outlet>
        </p-sidebar>
    </div>
</div>
