/**
 * Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 */

@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/variables';

:host {
  ::ng-deep .lower .ui-spinner-input {
    color: red;
    font-weight: bold;
  }
  ::ng-deep .upper .ui-spinner-input {
    color: green;
    font-weight: bold;
  }
  ::ng-deep .different .ui-spinner-input {
    color: #ffb900;
    font-weight: bold;
  }
  ::ng-deep .normal .ui-spinner-input {
    color: black;
    font-weight: normal;
  }
  ::ng-deep .ui-spinner .ui-spinner-input {
    width: 70px;
    height: 25px;
    font-size: 12px;
  }

  .recommended-value {
    padding-left: 5px;
  }
}
