<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div class="alarm-data-block ui-g-12"
     [class]="getStyle(severity)"
     (click)="openDrawer()">
    <div *ngIf="!onDrawer" class="top-title">                </div>
    <div *ngIf="!onDrawer" class="title" [class]="getStyle(severity)">Alarm Conditions</div>
    <span class="alarm-comp" [class]="onDrawer?'ui-g-2':'ui-g-2'">
        <button *ngIf="!noAlarms" (click)="muteSound(onDrawer, id, $event)" type="button" class="alarm-btn-action alarm-btn-red">
            <fa-icon [icon]="muted?mute:unmute"></fa-icon>
        </button>
    </span>
    <span class="alarm-comp ui-g-8">
        <p [class]="onDrawer?'alarm-text-drawer alarm-text-title':'alarm-text'">
         {{title}}
        </p>
        <p *ngIf="onDrawer" [class]="onDrawer?'alarm-text-body':''" class="alarm-comp alarm-text-drawer">
         {{body}}
        </p>
    </span>
    <span class="alarm-comp alarm-comp-right" [class]="onDrawer?'ui-g-2':'ui-g-2'">
        <button *ngIf="!noAlarms" (click)="ackAlert(onDrawer, id, $event)" type="button" class="alarm-btn-action alarm-btn-action-right">
                    <fa-icon [icon]="check"></fa-icon>
        </button>
    </span>
</div>
