/**
 * Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 */

@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/variables';

:host {
  .top-title {
    position: absolute;
    top: -6px;
    left: 10px;
    border: 0px;
    background-color: white;
    height: 5px;
    width: 122px;
    z-index: 100;
  }

  .title {
    position: absolute;
    top: -5px;
    left: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    border: 0px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    height: 18px;
    line-height: 18px;
  }

  .alarm-comp {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    padding: 0px;
    padding-left: 6px;
  }

  .alarm-comp-right {
    display: inline;
  }

  .alarm-data-block {
    font-size: 0.6rem;
    height: 100%;
    color: #333333;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    position: relative;
    padding: 0px;
  }

  .alarm-data-block-high {
    background-color: lightcoral;
    border-radius: 4px;
    border: 0px solid lightcoral;
  }

  .alarm-data-block-medium {
    background-color: orange;
    border-radius: 4px;
    border: 0px solid orange;
  }

  .alarm-data-block-low {
    background-color: yellow;
    border-radius: 4px;
    border: 0px solid yellow;
  }

  .alarm-data-block-no-bg {
    background-color: white;
    border-radius: 4px;
    border: 0px solid white;
  }

  .alarm-btn-action-right {
    float: right;
    margin-right: 6px;
  }

  .alarm-btn-action {
    background-color: transparent;
    padding: 0px;
    font-size: 1.55rem;
    border: 0px;
    height: 100%;
    text-align: center;
    line-height: normal;
  }

  .alarm-btn-action:focus {
    outline: none;
  }

  .alarm-btn-red {
    color: red;
  }
  .alarm-text {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
  }

  .alarm-text-title {
    font-weight: bold;
    height: 15%;
  }

  .alarm-text-body {
    height: 85%;
  }

  .alarm-text-drawer {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
  }

  ::ng-deep .ui-scrollpanel-content {
    font-size: 0.65rem;
    vertical-align: middle;
    line-height: 22px;
  }
}
