<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-assigned-device-heading" jhiTranslate="vcmApp.assignedDevice.home.createOrEditLabel">Create or edit a Assigned Device</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vcmApp.assignedDevice.assignment" for="field_assignment">Assignment</label>
                    <select class="form-control" id="field_assignment" name="assignment" formControlName="assignment">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="assignmentOption.id === editForm.get('assignment')!.value?.id ? editForm.get('assignment')!.value : assignmentOption" *ngFor="let assignmentOption of assignments; trackBy: trackById">{{ assignmentOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vcmApp.assignedDevice.device" for="field_device">Device</label>
                    <select class="form-control" id="field_device" name="device" formControlName="device">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="deviceOption.id === editForm.get('device')!.value?.id ? editForm.get('device')!.value : deviceOption" *ngFor="let deviceOption of devices; trackBy: trackById">{{ deviceOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vcmApp.assignedDevice.capability" for="field_capability">Capability</label>
                    <select class="form-control" id="field_capability" name="capability" formControlName="capability">
                        <option *ngIf="!editForm.get('capability')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="deviceCapabilityOption.id === editForm.get('capability')!.value?.id ? editForm.get('capability')!.value : deviceCapabilityOption" *ngFor="let deviceCapabilityOption of devicecapabilities; trackBy: trackById">{{ deviceCapabilityOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('capability')!.invalid && (editForm.get('capability')!.dirty || editForm.get('capability')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('capability')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
