<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div>
    <h2 id="page-heading">
        <span jhiTranslate="vcmApp.assignedDevice.home.title">Assigned Devices</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-assigned-device" [routerLink]="['/assigned-device/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="vcmApp.assignedDevice.home.createLabel">
            Create a new Assigned Device
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="assignedDevices?.length === 0">
        <span jhiTranslate="vcmApp.assignedDevice.home.notFound">No assignedDevices found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="assignedDevices?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="vcmApp.assignedDevice.assignment">Assignment</span></th>
                    <th scope="col" ><span jhiTranslate="vcmApp.assignedDevice.device">Device</span></th>
                    <th scope="col" ><span jhiTranslate="vcmApp.assignedDevice.capability">Capability</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let assignedDevice of assignedDevices ;trackBy: trackId">
                    <td><a [routerLink]="['/assigned-device', assignedDevice.id, 'view']">{{ assignedDevice.id }}</a></td>
                    <td>
                        <div *ngIf="assignedDevice.assignment">
                            <a [routerLink]="['/assignment', assignedDevice.assignment?.id, 'view']" >{{ assignedDevice.assignment?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="assignedDevice.device">
                            <a [routerLink]="['/device', assignedDevice.device?.id, 'view']" >{{ assignedDevice.device?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="assignedDevice.capability">
                            <a [routerLink]="['/device-capability', assignedDevice.capability?.id, 'view']" >{{ assignedDevice.capability?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/assigned-device', assignedDevice.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/assigned-device', assignedDevice.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(assignedDevice)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
