<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="assignedDevice">
            <h2><span jhiTranslate="vcmApp.assignedDevice.detail.title">Assigned Device</span> {{ assignedDevice.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="vcmApp.assignedDevice.assignment">Assignment</span></dt>
                <dd>
                    <div *ngIf="assignedDevice.assignment">
                        <a [routerLink]="['/assignment', assignedDevice.assignment?.id, 'view']">{{ assignedDevice.assignment?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="vcmApp.assignedDevice.device">Device</span></dt>
                <dd>
                    <div *ngIf="assignedDevice.device">
                        <a [routerLink]="['/device', assignedDevice.device?.id, 'view']">{{ assignedDevice.device?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="vcmApp.assignedDevice.capability">Capability</span></dt>
                <dd>
                    <div *ngIf="assignedDevice.capability">
                        <a [routerLink]="['/device-capability', assignedDevice.capability?.id, 'view']">{{ assignedDevice.capability?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/assigned-device', assignedDevice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
