/**
 * Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 */

:host {
  ::ng-deep .m-row {
    padding: 0.25em;
  }

  ::ng-deep .ui-g-6 {
    padding-top: 0px;
    padding-left: 0px;
  }
  ::ng-deep .ui-g-6-nopadding {
    padding-right: 0px;
  }

  ::ng-deep .ui-scrollpanel-content {
    height: 100%;
    width: 100%;
    overflow: hidden; //ui-table-scrollable-body
    padding-bottom: 0px;
  }
  // Most of the titles of the application except for fieldsets
  ::ng-deep .m-row .ui-panel-title {
    font-size: 0.8rem;
  }
  // physiologic monitor, menu and device data uses this style
  ::ng-deep .m-row-1 {
    height: 442px;
  }

  ::ng-deep .header-data {
    height: 75px;
  }
  // 42px less than the m-row-1
  ::ng-deep .m-row-1 .ui-panel-content {
    height: 400px;
  }

  ::ng-deep .m-row-all {
    height: 1082px;
  }

  ::ng-deep .ui-panel-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  ::ng-deep .m-row-2 .ui-panel-content {
    height: 300px; // this was 540px prior the change introduced with https://saperisys.atlassian.net/browse/TM-640
  }

  ::ng-deep .m-row-3 .ui-panel-content {
    height: 120px;
  }

  ::ng-deep .m-row-4 .ui-panel-content {
    height: 250px;
  }

  ::ng-deep .blood-gas-panel .ui-fieldset {
    padding: 5px;

    .ui-fieldset-legend {
      padding: 0px 10px 0px 10px;
      width: fit-content;
      margin: 0px 0px 0px 10px;
    }

    .ui-fieldset-legend-text {
      font-size: 0.6rem;
      font-weight: bold;
    }
  }

  ::ng-deep .ventilator-waveforms .hwb-component {
    height: 100%;
  }

  ::ng-deep .ui-panel .ui-panel-titlebar {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: gainsboro;
    padding-right: 0px;
    padding-left: 5px;
  }
  ::ng-deep .ui-dialog .ui-dialog-titlebar {
    background-color: gainsboro;
    border: 1px solid #c8c8c8;
  }
  ::ng-deep .ack-dialog > div > .ui-dialog > .ui-dialog-titlebar {
    background-color: #df9f9f !important;
    border: 1px solid #d59c9c !important;
  }

  ::ng-deep .num-block-fieldset .ui-spinner-input {
    width: 70px;
    text-align: left;
  }

  ::ng-deep .ui-spinner .ui-spinner-button {
    width: 22px;
  }

  ::ng-deep .ui-button-text-only .ui-button-text {
    padding-left: 4px !important;
    padding-right: 4px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    font-size: 12px;
  }

  ::ng-deep .rec-text {
    font-size: 13px;
    color: black;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  ::ng-deep .hw-block-fieldset .ui-fieldset .ui-fieldset-legend {
    height: 30px;
  }

  // Height of Header data blocks
  ::ng-deep .hw-block-fieldset .ui-fieldset {
    height: 70px;
  }

  ::ng-deep .ventilator-table {
    font-size: 11px;
    border: 1px solid #c8c8c8;
  }

  ::ng-deep .ventilator-table td {
    padding-right: 5px;
    border: 1px #c8c8c8;
    border-style: dotted;
    padding-left: 5px;
  }

  ::ng-deep .ventilator-table tr th {
    border: 1px solid #c8c8c8;
  }
  .ventilator-mode-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    align-items: center;
  }
  .ventilator-empty-space {
    height: 100px;
  }

  .ventilator-mode {
    font-size: 0.85rem;
    font-weight: bold;
  }

  ::ng-deep .ui-button-help {
    color: #ffffff;
    background-color: #475c9b;
    border: 1px solid #3f437f;
    font-size: 12px;
    width: 100%;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.65);
  }

  ::ng-deep .ui-button-danger {
    width: 100%;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.65);
  }

  ::ng-deep .ui-button-help:hover {
    color: #ffffff;
    background-color: #3f437f !important;
    border: 1px solid #3f437f !important;
  }

  ::ng-deep .ui-button-secondary {
    color: #ffffff;
    background-color: #e8e8e8 !important;
    border: 1px solid #dadada !important;
    font-size: 12px;
  }

  ::ng-deep .ui-button-secondary:hover {
    color: #ffffff;
    background-color: #dadada !important;
    border: 1px solid #dadada !important;
  }

  .numeric-input {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

::ng-deep .last-update-block-fieldset .ui-fieldset {
  padding: 0px;
  height: 50px;

  .ui-fieldset-legend {
    padding: 0px 10px 0px 10px;
    width: fit-content;
    margin: 0px 0px 0px 10px;
  }
  .ui-fieldset-legend-text {
    font-size: 0.6rem;
    font-weight: bold;
    color: black;
  }
  .ui-fieldset-content {
    padding: 0px;
    text-align: center;
    font-size: 0.7rem;
    min-height: 17px;
    height: 100%;
  }
}
.centered {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.chartArea {
  // height: 100%;
  width: 100%;
}

.ventilatorChartAreaRow {
  height: 33%;
  width: 100%;
}

.recommender-eye {
  color: #007ad9;
}

::ng-deep .ui-button-close {
  height: 20px;
  width: 50px !important;
}

::ng-deep .ui-button-success {
  width: 100%;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.65);
}

.ventilator-table-rec-input {
  margin-top: 5px;
}

.invisible {
  display: none;
}

.visible {
  display: unset;
}

.selected-help {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.75), inset -2px -2px 2px 0px rgba(51, 51, 105, 0.75) !important;
  -moz-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.75), inset -2px -2px 2px 0px rgba(51, 51, 105, 0.75) !important;
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.75), inset -2px -2px 2px 0px rgba(51, 51, 105, 0.75) !important;

  background: #475c9b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  background: #475c9b; /* Old browsers */
  background: -moz-linear-gradient(top, #475c9b 0%, #3f437f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #475c9b), color-stop(100%, #3f437f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #475c9b 0%, #3f437f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #475c9b 0%, #3f437f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #475c9b 0%, #3f437f 100%); /* IE10+ */
  background: linear-gradient(to bottom, #475c9b 0%, #3f437f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#475c9b', endColorstr='#3f437f',GradientType=0 ); /* IE6-9 */
  color: lightgray !important;
  text-shadow: none;
}

.selected-success {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.75), inset -2px -2px 2px 0px rgba(43, 111, 44, 0.75) !important;
  -moz-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.75), inset -2px -2px 2px 0px rgba(43, 111, 44, 0.75) !important;
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.75), inset -2px -2px 2px 0px rgba(43, 111, 44, 0.75) !important;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: lightgray !important;
  text-shadow: none;

  background: #34a835; /* Old browsers */
  background: -moz-linear-gradient(top, #2b6f2c 0%, #34a835 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b6f2c), color-stop(100%, #34a835)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2b6f2c 0%, #34a835 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2b6f2c 0%, #34a835 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2b6f2c 0%, #34a835 100%); /* IE10+ */
  background: linear-gradient(to bottom, #2b6f2c 0%, #34a835 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2B6F2C', endColorstr='#3f434A83537f',GradientType=0 ); /* IE6-9 */
}

.vent-control {
  margin-top: 5px;
}
.lastUpdateDate {
  font-size: 12px;
  bottom: 4px;
  position: relative;
}
.lastUpdateTime {
  font-weight: bold;
}

.div-relative {
  position: relative;
  height: 100%;
}

.div-bottom {
  position: absolute;
  bottom: 5px;
}

::ng-deep .labTable tr.table-row {
  font-size: 0.55rem !important;
  height: 15px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

::ng-deep .labTable tr {
  font-size: 0.55rem !important;
  height: 15px !important;
}

::ng-deep .labTable tr > td {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

::ng-deep .labTable tr > th {
  font-size: 0.55rem !important;
  height: 15px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

::ng-deep .ui-dialog-content {
  padding-bottom: 25px !important;
  padding-top: 20px !important;
  font-size: 0.65rem;
}

::ng-deep .ui-dialog-titlebar {
  font-size: 0.7rem;
}

.enabler {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

.recommendation-text {
  padding-bottom: 12px;
}

::ng-deep .enabler-container {
  height: 40px;
}

.menu {
  height: 45%;
  padding-top: 5px;
}

.menu a {
  padding-left: 5px;
  padding-top: 2px;
  font-size: 0.75rem;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

::ng-deep p-panel.menu-panel > div.ui-panel > div.ui-panel-content-wrapper > .ui-panel-content {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

div.menu .selected {
  color: #4e4e4e;
  background-color: #dcdcdc;
}

.menu-item {
  border-bottom: 1px solid #e2e2e2;
}

.menu a:hover {
  color: #4e4e4e;
  background-color: #bababa;
}
.team-content {
  font-size: 0.75rem;
  padding-bottom: 5px;
}

:host {
  ::ng-deep .ui-fieldset {
    padding: 0px;

    .ui-fieldset-legend {
      padding: 5px;
      padding-bottom: 0px;
      width: fit-content;
      margin: 0px 0px 0px 10px;
    }
  }
  ::ng-deep .present.team-fieldset > ::ng-deep fieldset:first-child {
    background-color: rgba(253, 255, 251, 0.99);
  }
  ::ng-deep .away.team-fieldset > ::ng-deep fieldset:first-child {
    background-color: rgba(255, 144, 48, 0.34) !important;
  }
  ::ng-deep .absent.team-fieldset > ::ng-deep fieldset:first-child {
    background-color: rgba(0, 0, 0, 0.09);
  }

  ::ng-deep .physiologic-monitors {
    padding-right: 0px;
  }

  ::ng-deep .vent-monitors {
    padding-right: 0px;
  }

  ::ng-deep .selected-device-data {
    padding-left: 0px;
  }

  ::ng-deep .vent-settings {
    padding-left: 0px;
  }

  .physiologic-unselected-item {
    width: 15%;
    padding-left: 0px;
  }

  ::ng-deep .physiologic-monitors > p-panel > div.ui-panel > .ui-panel-titlebar {
    border-right-width: 0px;
    border-top-right-radius: 0px;
  }

  ::ng-deep .physiologic-monitors > p-panel > div.ui-panel > div.ui-panel-content-wrapper > .ui-panel-content {
    border-right-width: 0px;
    padding-right: 0px !important;
  }

  ::ng-deep .selected-device-data > p-panel > div.ui-panel > .ui-panel-titlebar {
    border-left-width: 0px;
    border-top-left-radius: 0px;
  }

  ::ng-deep .selected-device-data > p-panel > div.ui-panel > div.ui-panel-content-wrapper > .ui-panel-content {
    border-left-width: 0px;
    padding-left: 0px !important;
  }

  ::ng-deep .vent-monitors > p-panel > div.ui-panel > .ui-panel-titlebar {
    border-right-width: 0px;
    border-top-right-radius: 0px;
  }

  ::ng-deep .vent-monitors > p-panel > div.ui-panel > div.ui-panel-content-wrapper > .ui-panel-content {
    border-right-width: 0px;
    padding-right: 0px !important;
  }
  ::ng-deep .vent-settings > p-panel > div.ui-panel > .ui-panel-titlebar {
    border-left-width: 0px;
    border-top-left-radius: 0px;
  }

  ::ng-deep .vent-settings > p-panel > div.ui-panel > div.ui-panel-content-wrapper > .ui-panel-content {
    border-left-width: 0px;
    padding-left: 0px !important;
  }

  ::ng-deep .hw-block-fieldset .ui-fieldset {
    padding: 0px;
    .ui-fieldset-content-wrapper {
      height: 100%;
    }
    .ui-fieldset-legend {
      padding: 0px 10px 0px 10px;
      width: fit-content;
      margin: 0px 0px 0px 10px;
    }
    .ui-fieldset-legend-text {
      font-size: 0.6rem;
      font-weight: bold;
      color: black;
    }
    .ui-fieldset-content {
      padding: 0px;
      text-align: unset;
      font-size: 0.7rem;
      height: 100%;
    }
    ::ng-deep .fieldset-header {
      font-size: 0.8rem;
      font-weight: bold;
      color: black;
      vertical-align: middle;
    }
  }

  ::ng-deep .ui-tabview .ui-tabview-panels {
    border: 1px solid #c8c8c8;
    padding-bottom: 60px;
  }

  .hw-block-fieldset.header-with-allergies > ::ng-deep .ui-fieldset {
    background-color: lightcoral;
    border: 1px solid #767878;
  }
  .hw-block-fieldset.header-no-allergies > ::ng-deep .ui-fieldset {
    background-color: darkseagreen;
    border: 1px solid #767878;
  }
  ::ng-deep .present.bedside-fieldset > .ui-fieldset {
    margin-left: 5px;
    margin-right: 5px;
  }
  ::ng-deep .present.bedside-fieldset > fieldset:hover {
   background-color: #bababa;
    cursor: pointer;
  }
}
.team-div {
  width: 115%;
}
.team-fieldset-header {
  font-size: 0.6rem;
  font-weight: bold;
  color: #4e4e4e;
  vertical-align: middle;
  padding: 0px;
  // Resolution 1920px
  @media screen and (min-width: 1920px) {
    font-size: 0.7rem;
  }
}

.team-icon {
  font-size: 0.95rem;
  padding: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 2px;
  border: 1px #d5d5d5 solid;
  position: relative;
  top: -10px;
}

.video-icon {
  font-size: 0.95rem;
  padding: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 2px;
  border: 1px #d5d5d5 solid;
  position: relative;
  top: -27px;
}

.item-bedside{
  padding-left: 35%;
  font-size: 0.70rem;
  font-style: italic;
  // Resolution 1920px
  @media screen and (min-width: 1920px) {
    padding-left: 25%;
    font-size: 0.75rem;
  }
}

.item-phone {
  padding-left: 2px;
  padding-right: 2px;
  font-size: 0.45rem;
  position: relative;
  top: -5px;
  // Resolution 1920px
  @media screen and (min-width: 1920px) {
    font-size: 0.7rem;
  }
}

.item-name {
  padding-left: 35%;
  font-size: 0.55rem;
  font-style: italic;
  // Resolution 1920px
  @media screen and (min-width: 1920px) {
    padding-left: 25%;
    font-size: 0.75rem;
  }
}

.item-phone-icon {
  font-size: 0.4rem;
  color: #1a873a;
  position: relative;
  top: -5px;
  // Resolution 1920px
  @media screen and (min-width: 1920px) {
    font-size: 0.7rem;
  }
}

.item-header {
  padding-left: 32px;
  font-size: 0.75rem;
  text-align: unset;
}

.patient-allergies {
  border: 1px solid #767878;
  border-radius: 5px;
  margin-top: 14px;
  height: 35px;
  min-height: 35px;
  line-height: 35px;
  text-align: center;
}

.patient-alarms {
  border: 1px solid #767878;
  border-radius: 5px;
  margin-top: 14px;
  height: 55px;
}

.patient-allergies-content {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #767878;
}

.label-container {
  position: relative;
}

.power-btn-action {
  border: none;
  width: auto;
  height: 26px;
  margin-right: 5px;
}

.power-btn-action:focus {
  outline: none;
}

.power-connect-status {
  position: absolute;
  font-size: 1.7rem;
  top: -18px;
  left: 76%;
  // Resolution 1920px
  @media screen and (min-width: 1920px) {
    left: 82%;
  }
}
.power-connect-status-bolt {
  position: absolute;
  color: black;
  background: transparent;
  font-size: 0.6rem;
  top: 4px;
  left: 86%;
  // Resolution 1920px
  @media screen and (min-width: 1920px) {
    left: 90%;
  }
}

.cds-label {
  position: absolute;
  top: 8px;
  left: 24%;
  font-size: 0.6rem;
  font-weight: bold;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  height: 18px;
  line-height: 18px;
  // Resolution 1920px
  @media screen and (min-width: 1920px) {
    left: 45%;
  }
}

.locus-of-control-label {
  position: absolute;
  top: 8px;
  left: 53%;
  font-size: 0.6rem;
  font-weight: bold;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  height: 18px;
  line-height: 18px;
  // Resolution 1920px
  @media screen and (min-width: 1920px) {
    left: 65%;
  }
}
.cds-color {
  background-color: rgb(219, 255, 167);
}

.no-cds-color {
  background-color: white;
}

.remote-color {
  background-color: rgb(253, 180, 168);
}

.local-color {
  background-color: rgb(219, 255, 167);
  left: 59%;
  // Resolution 1920px
  @media screen and (min-width: 1920px) {
    left: 70%;
  }
}

.label-separator {
  left: 31%;
  // Resolution 1920px
  @media screen and (min-width: 1920px) {
    left: 50%;
  }
}

// Percentage batery CSS
.blinking {
  animation: mymove 1s infinite alternate;
}

@keyframes mymove {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.regular-percentage-color {
  color: #000000;
  background-color: transparent;
}

.red-percentage-color {
  color: red;
  background-color: transparent;
}

.vent-mode-btn-action {
  border-color: #c8c8c8;
  background-color: white;
  padding: 0px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: x-large;
  outline: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; /* for single line flex container */
  align-content: center; /* for multi-line flex container */
  width: 25%;
}

.vent-mode-btn-action fa-icon {
  display: block;
  padding: 0;
  width: max-content;
  margin: auto;
}

.vent-mode-btn-action:hover {
  border-color: #9e9e9e;
}

.control-padding {
  padding-bottom: 5px;
}

.vent-mode-container {
  display: flex;
  justify-content: center;
  align-items: center; /* for single line flex container */
  align-content: center; /* for multi-line flex container */
  height: 60px;
}
