<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div>
    <p-accordion [activeIndex]="0">
        <p-accordionTab header="Alarms" [disabled]="true" class="ui-state-active">
            <div class="ui-g-12" *ngIf="!hasAlarms">No alarms detected.</div>
            <p-fieldset *ngIf="hasAlarms" class="ui-g-12 volume-fieldset">
                <p-header class="fieldset-header">Alarm Volume</p-header>
                <div class="volume-wrapper">
                    <div class="ui-g-2"></div>
                    <div class="ui-g-8">
                        <p-slider [(ngModel)]="volumeVal" [step]="1" [min]="1" [max]="100" (onChange)="volumeChange($event)"></p-slider>
                    </div>
                    <div class="ui-g-2 volume-val">{{volumeVal}}</div>
                </div>
            </p-fieldset>
            <p-scrollPanel [style]="{width: '100%', height: '100%'}">
                <div class="ui-g-12" *ngFor="let a of alarms">
                    <div class="ui-g-2"></div>
                    <div class="patient-alarms patient-alarms-higher ui-g-8">
                        <jhi-alarm-data-block [onDrawer]="true"
                                              [id]="a.id"
                                              [severity]="a.severity"
                                              [muted]= "a.muted"
                                              [noAlarms]="false"
                                              [patientId]="assignment.assignmentId"
                                              [title]="a.title"
                                              [body]="a.body">
                        </jhi-alarm-data-block>
                    </div>
                    <div class="ui-g-2"></div>
                </div>
            </p-scrollPanel>
        </p-accordionTab>
        <!-- Disabling next section as requested in https://saperisys.atlassian.net/browse/TM-639 -->
        <!--
        <p-accordionTab header="Pulse" *ngIf="hasPulseDevices">
            <jhi-pulse-controller [assignment]="assignment"></jhi-pulse-controller>
        </p-accordionTab>
        <p-accordionTab header="Recommender Settings">
            <jhi-ventilator-recommender-drawer [assignment]="assignment"></jhi-ventilator-recommender-drawer>
        </p-accordionTab>
        -->
    </p-accordion>
</div>
