/**
 * Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 */

:host {
  .patient-alarms {
    border: 1px solid #767878;
    border-radius: 5px;
    margin-top: 14px;
    height: 57px;
    min-height: 57px;
    padding: 0px;
  }

  .patient-alarms-higher {
    height: 95px;
    min-height: 70px;
  }

  .volume-wrapper {
    height: 40px;
    display: flex;
    align-items: center;
  }

  .volume-val {
    padding-top: 0px;
    padding-left: 15px;
  }

  ::ng-deep div.ui-accordion-content.ui-widget-content {
    position: relative;
    overflow: hidden;
  }

  ::ng-deep .volume-fieldset .ui-fieldset .ui-fieldset-legend {
    height: 30px;
  }

  // Height of Header data blocks
  ::ng-deep .volume-fieldset .ui-fieldset {
    height: 70px;
  }

  ::ng-deep .volume-fieldset .ui-fieldset {
    padding: 0px;
    .ui-fieldset-content-wrapper {
      height: 100%;
    }
    .ui-fieldset-legend {
      padding: 0px 10px 0px 10px;
      width: fit-content;
      margin: 0px 0px 0px 10px;
    }
    .ui-fieldset-legend-text {
      font-size: 0.6rem;
      font-weight: bold;
      color: black;
    }
    .ui-fieldset-content {
      padding: 0px;
      text-align: unset;
      font-size: 0.7rem;
      height: 100%;
    }
    ::ng-deep .fieldset-header {
      font-size: 0.64rem;
      font-weight: bold;
      color: black;
      vertical-align: middle;
    }
  }

  ::ng-deep .ui-accordion .ui-accordion-header.ui-state-disabled.ui-state-active a {
    background-color: #007ad9;
    border: 1px solid #007ad9;
    color: #333333;
    opacity: 1;
  }
  ::ng-deep .ui-accordion .ui-accordion-header.ui-state-disabled, .ui-accordion .ui-accordion-header.ui-state-disabled a {
    opacity: 1;
  }
}
