<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div>
    <h2 id="page-heading">
        <span jhiTranslate="vcmApp.assignment.home.title">Patients</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="assignments?.length === 0">
        <span jhiTranslate="vcmApp.assignment.home.notFound">No Patients found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="assignments?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="vcmApp.assignment.patientId">Patient Id</span></th>
                    <th scope="col" ><span jhiTranslate="vcmApp.assignment.devices">Devices</span></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let assignment of assignments ;trackBy: trackId">
                    <td>{{ assignment.assignmentId }}</td>
                    <td>{{ patientName(assignment) }}</td>
                    <td>{{ deviceNames(assignment) }}</td>
                    <td class="text-right">
                        <button (click)="refreshListeners(assignment.assignmentId)" type="submit" class="btn btn-secondary btn-sm">
                            <fa-icon [icon]="refresh"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.refresh">Refresh Connection</span>
                        </button>
                    </td>
                    <td class="text-right">
                        <button (click)="initSoundAndRefreshListeners(assignment.assignmentId)" type="submit"
                                    [routerLink]="['/monitor', assignment.assignmentId, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="heartbeat"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                    </td>
            </tbody>
        </table>
    </div>
</div>
