<!--
 *    Copyright 2022 Saperi Systems.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
-->
<div>
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>
    <div class="ui-g">
        <!-- Demographics -->
        <div class="ui-g-2 m-row m-row-1 header-data">
           <p-fieldset class="hw-block-fieldset">
               <p-header class="fieldset-header" [innerHTML]="'vcmApp.monitor.view.demographics'| translate"></p-header>
               <p-scrollPanel [style]="{width: '100%', height: '100%'}">
                   <jhi-header-data-block *ngFor="let b of [headerBlocks[0]]"
                                          [selectors]= "b.selectors"
                                          [type]="b.type"
                                          [name]="b.name">
                   </jhi-header-data-block>
                </p-scrollPanel>
           </p-fieldset>
        </div>
        <!-- Primary Condition(s) -->
        <div class="ui-g-2 m-row m-row-1 header-data">
            <p-fieldset class="hw-block-fieldset">
                <p-header class="fieldset-header" [innerHTML]="'vcmApp.monitor.view.primary-condition'| translate"></p-header>
                <p-scrollPanel [style]="{width: '100%', height: '100%'}">
                    <jhi-header-data-block *ngFor="let b of [headerBlocks[1]]"
                        [selectors]= "b.selectors"
                        [type]="b.type"
                        [name]="b.name">
                    </jhi-header-data-block>
                </p-scrollPanel>
            </p-fieldset>
        </div>
        <!-- Mechanism of Injury -->
        <div class="ui-g-2 m-row m-row-1 header-data">
            <p-fieldset class="hw-block-fieldset">
                <p-header class="fieldset-header" [innerHTML]="'vcmApp.monitor.view.mechanism-of-injury'| translate"></p-header>
                <p-scrollPanel [style]="{width: '100%', height: '100%'}">
                   <jhi-header-data-block *ngFor="let b of [headerBlocks[2]]"
                                          [selectors]= "b.selectors"
                                          [type]="b.type"
                                          [name]="b.name">
                   </jhi-header-data-block>
                </p-scrollPanel>
            </p-fieldset>
        </div>
        <!--Location -->
        <div class="ui-g-1 m-row m-row-1 header-data">
            <p-fieldset class="hw-block-fieldset">
                <p-header class="fieldset-header" [innerHTML]="'vcmApp.monitor.view.location'| translate"></p-header>
                <p-scrollPanel [style]="{width: '100%', height: '100%'}">
                   <jhi-header-data-block *ngFor="let b of [headerBlocks[3]]"
                                          [selectors]= "b.selectors"
                                          [type]="b.type"
                                          [name]="b.name">
                   </jhi-header-data-block>
                </p-scrollPanel>
            </p-fieldset>
        </div>
        <!--Allergies -->
        <div class="ui-g-1 m-row m-row-1 header-data">
            <p-fieldset class="hw-block-fieldset header-with-allergies">
                <p-header class="fieldset-header" [innerHTML]="'vcmApp.monitor.view.allergies'| translate"></p-header>
                <p-scrollPanel [style]="{width: '100%', height: '100%'}">
                    <jhi-header-data-block *ngFor="let b of [headerBlocks[4]]"
                                          [selectors]= "b.selectors"
                                          [type]="b.type"
                                          [name]="b.name">
                    </jhi-header-data-block>
                </p-scrollPanel>
            </p-fieldset>
        </div>
        <!--Locus of Control -->
        <div class="ui-g-2 m-row m-row-1 header-data">
        <p-fieldset class="hw-block-fieldset">
            <p-header class="fieldset-header" [innerHTML]="'vcmApp.monitor.view.locus-of-control'| translate"></p-header>
            <p-scrollPanel [style]="{width: '100%', height: '100%'}">
               <jhi-header-data-block *ngFor="let b of [headerBlocks[5]]"
                                      [selectors]= "b.selectors"
                                      [type]="b.type"
                                      [name]="b.name">
               </jhi-header-data-block>
            </p-scrollPanel>
            </p-fieldset>
        </div>
        <!-- Alarms -->
        <div class="ui-g-2 m-row m-row-1 header-data">
            <div class="patient-alarms">
                <span class="patient-allergies-content">
                    <jhi-alarm-data-block *ngFor="let a of [alarmDef]"
                                       [selectors]= "a.selectors"
                                       [type]="a.type"
                                       [patientId]="assignment.assignmentId"
                                       [id]="a.id">
                    </jhi-alarm-data-block>
                </span>
            </div>
        </div>
       <!-- Right Menu -->
        <div class="ui-g-1 m-row m-row-1">
            <p-panel class="menu-panel" [header]="'vcmApp.monitor.view.menu'| translate">
                <div class="menu">
                    <div *ngFor="let item of menuItems; let i = index" id="menuItems">
                        <!-- removing href="#" target="_blank" from a -->
                        <a [id]="'menuitem_'+i" *ngIf="item.length > 0" [class]="i===0?'selected':''" (click)="menuItemClick($event)">{{item}}</a>
                        <div class="menu-item" *ngIf="item.length == 0"></div>
                    </div>
                </div>
                <!-- video player for beside live stream testing .. rtsp stream in-progress  -->
                <p-fieldset class="bedside-fieldset" ngClass="present" (click)="bedsideCollaborator()">
                    <p-header class="team-fieldset-header">Bedside</p-header>
                    <div class="item-bedside">Bedside Collaborator </div>
                    <div class="team-content">
                        <span class="video-icon"><fa-icon [icon]="video"></fa-icon></span>
                    </div>
                </p-fieldset>
                <p-fieldset class="bedside-fieldset" ngClass="present" (click)="jitsiTeamConf()">
                    <p-header class="team-fieldset-header">Care Team</p-header>
                    <div class="item-bedside">Video Conference</div>
                    <div class="team-content">
                        <span class="video-icon"><fa-icon [icon]="videoGroup"></fa-icon></span>
                    </div>
                </p-fieldset>
            </p-panel>
        </div>
        <!-- A Clinical Patient Summary dialog-->
        <div class="ui-g-11 m-row-all" [style]="getIframeCss()">
            <iframe [src]="clinicalSummaryURL" width="100%" height="100%" style="border-width: 0PX;" [style]="getIframeCss()">
            </iframe>
        </div>
        <!-- Physiologic Monitors -->
        <div class="ui-g-9 m-row m-row-1 physiologic-monitors" [style]="getVisibilityDevicesCss()">
            <p-panel [header]="'vcmApp.monitor.view.trends'| translate">
                <div class="chartArea">
                    <div *ngFor="let pd of patientChartBlocks">
                        <ng-container
                        [ngTemplateOutlet]="{'jhiHwDataBlockTemplate': jhiHwDataBlockTemplate, 'jhiFlowsheetDataBlockTemplate': jhiFlowsheetDataBlockTemplate, 'jhiTabluarDataBlockTemplate': jhiTabluarDataBlockTemplate}[pd.getTemplateName()]"
                        [ngTemplateOutletContext]="{$implicit: { def: pd, ctx: this, dragSrc: patientChartBlocks}}">
                        </ng-container>
                    </div>
                </div>
                <div class="physiologic-unselected-items" [pDroppable]="ddPatientDataScope" (onDrop)="blockDrop(patientUnselectedBlocks, false)" >
                    <span *ngFor="let pd of patientUnselectedBlocks" class="ui-g-1 physiologic-unselected-item">
                        <jhi-hw-data-block
                                       [selectors]="pd.selectors"
                                       [dataKeys]="pd.dataKeys"
                                       [name]="pd.name"
                                       [alarmMax]="pd.alarmMax"
                                       [alarmMin]="pd.alarmMin"
                                       [alarmMinCodeId]="pd.alarmMinCodeId"
                                       [alarmMaxCodeId]="pd.alarmMaxCodeId"
                                       [hwId]="pd.hwId"
                                       [expanded]="pd.expanded"
                                       [physiologicMonitors]="pd.physiologicMonitors"
                                       [ventFlow]="pd.ventFlow"
                                       [ventSettings]="pd.ventSettings"
                                       [ventMonitors]="pd.ventMonitors"
                                       [reduced]="pd.reduced"
                                       [ddScope]="pd.ddScope"
                                       [separator]="pd.separator"
                                       (dragStart)="blockDragStart(pd, patientUnselectedBlocks)"
                                       [data]= "getBlockData(getDataKey(pd.dataKeys))"
                                       [dataKey]="getDataKey(pd.dataKeys)">
                        </jhi-hw-data-block>
                    </span>
                </div>
            </p-panel>
        </div>
        <!-- Device Data a column beside the Physiologic Monitors column -->
        <div class="ui-g-2 m-row m-row-1 selected-device-data" [style]="getVisibilityDevicesCss()">
            <!-- Labels section for ventilators -->
            <div class="label-container">
                <button type="button" [class]="iconClass(batteryCardioPercentage)" class="ui-g-2 power-btn-action power-connect-status">
                    <fa-icon [icon]="cardioConnectStatus"></fa-icon>
                </button>
                <button type="button" [hidden]="!cardioConnectStatusBoltVisible" class="ui-g-2 power-btn-action power-connect-status-bolt">
                    <fa-icon [icon]="cardioConnectStatusBolt"></fa-icon>
                </button>
                <div class="cds-label" [class]="cdsColorClass(cardioCds, cardioLocusOfControl)">
                    {{cardioCds}}
                </div>
                <div class="locus-of-control-label" [class]="locusClass(cardioLocusOfControl)">
                    {{cardioLocusOfControl}}
                </div>
            </div>
            <p-panel header="&nbsp;" [pDroppable]="ddPatientDataScope" (onDrop)="blockDrop(patientBlocks, true)">
                <jhi-hw-data-block *ngFor="let pd of patientBlocks"
                                  [selectors]="pd.selectors"
                                  [dataKeys]="pd.dataKeys"
                                  [name]="pd.name"
                                  [alarmMax]="pd.alarmMax"
                                  [alarmMin]="pd.alarmMin"
                                  [alarmMinCodeId]="pd.alarmMinCodeId"
                                  [alarmMaxCodeId]="pd.alarmMaxCodeId"
                                  [hwId]="pd.hwId"
                                  [expanded]="pd.expanded"
                                  [physiologicMonitors]="pd.physiologicMonitors"
                                  [ventFlow]="pd.ventFlow"
                                  [ventSettings]="pd.ventSettings"
                                  [ventMonitors]="pd.ventMonitors"
                                  [reduced]="pd.reduced"
                                  [ddScope]="pd.ddScope"
                                  [separator]="pd.separator"
                                  [chartMaxDataLength]="pd.chartMaxDataLength"
                                  [yaxisMin]="pd.yaxisMin"
                                  [yaxisMax]="pd.yaxisMax"
                                  (dragStart)="blockDragStart(pd, patientBlocks)"
                                  (dragover)="blockDragOver(pd)"
                                  [data]= "getBlockData(getDataKey(pd.dataKeys))"
                                  [dataKey]="getDataKey(pd.dataKeys)">
                </jhi-hw-data-block>
            </p-panel>
         </div>
        <div class="ui-g-1 m-row m-row-2"></div>
         <!-- Local Care Team >
         <div class="ui-g-1 m-row m-row-2" style="visibility: hidden; display:none" [style]="getPositionLCTDevicesCss()">
            <p-panel [header]="'vcmApp.monitor.view.local-care-team'| translate">
                <p-scrollPanel [style]="{width: '100%', height: '100%'}">
                    <div class="team-div" *ngFor="let item of localCareTeamItems">
                        <p-fieldset class="team-fieldset" [ngClass]="getStyleName(item.status)" (click)="localTeamVideo($event, item.name)">
                            <p-header class="team-fieldset-header" [innerHTML]="getStatusName(item.status)"></p-header>
                            <div class="item-name">{{item.name}}</div>
                            <div *ngIf="item.gender == 'FEMALE'" class="team-content"><span class="team-icon"><fa-icon [icon]="femaleIcon"></fa-icon></span><span class="item-phone">{{item.phone}}</span><fa-icon class="item-phone-icon" [icon]="phoneIcon"></fa-icon></div>
                            <div *ngIf="item.gender == 'MALE'" class="team-content"><span class="team-icon"><fa-icon [icon]="maleIcon"></fa-icon></span><span class="item-phone">{{item.phone}}</span><fa-icon class="item-phone-icon" [icon]="phoneIcon"></fa-icon></div>
                            <div *ngIf="item.gender == 'OTHER'" class="team-content"><span class="team-icon"><fa-icon [icon]="otherIcon"></fa-icon></span><span class="item-phone">{{item.phone}}</span><fa-icon class="item-phone-icon" [icon]="phoneIcon"></fa-icon></div>
                        </p-fieldset>
                    </div>
                </p-scrollPanel>
            </p-panel>
        </div -->
        <!-- Ventilator -->
        <div class="ui-g-9 m-row m-row-2 vent-monitors" [style]="getVisibilityDevicesCss()">

            <!-- A local team video dialog -->
            <p-dialog modal="true" [(visible)]="showLocalTeamVideo"
                      class="flipping-card"
                      header="Team Member Video Call"
                      [closable]="false"
                      (onShow)="showDialogMaximized(idLocalTeamVideo)" #idLocalTeamVideo>
                <iframe [src]="localTeamVideoURL" width="100%" height="500px" style="border-width: 0PX;">
                </iframe>
                <button type="button" class="ui-g-2 vent-mode-btn-action"
                        (click)="closeLocalTeamVideo()">
                    <fa-icon [icon]="cancel"></fa-icon>
                </button>
            </p-dialog>
            <p-dialog modal="true" [(visible)]="showJitsiTeamConf"
                      class="flipping-card"
                      header="VCM Care Team Video Call"
                      [closable]="false"
                      [resizable]="false"
                      #idJitsiTeamVideo>
                    <div>
                    <iframe [srcdoc]="jitsiURL" allow="camera;microphone" width="870px" height="620px" style="border-width: 2px; border-color: lightskyblue"></iframe>
                    </div>
                    <div class="centered">
                    <button type="button" class="btn btn-outline-info"
                        (click)="closeJitsiTeamConf()">
                        Close/Exit Video Call
                    </button>
                    </div>
            </p-dialog>
            <p-dialog modal="true" [(visible)]="showBedsideCollaborator"
                      class="flipping-card"
                      header="Bedside Collaborator"
                      [closable]="false"
                      [resizable]="true"
                      #idBedsideCollaborator>
                <div>
                    <iframe [src]="bedsideURL" allow="camera;microphone" width="1200px" height="800px" style="border-width: 2px; border-color: lightskyblue"></iframe>
                </div>
                <div class="centered">
                    <button type="button" class="btn btn-outline-info"
                            (click)="closeBedsideCollaborator()">
                        Close/Exit Bedside Collaborator
                    </button>
                </div>
            </p-dialog>
            <p-panel [header]="'vcmApp.monitor.view.ventilator-waveforms'| translate">
                <div [pDroppable]="ddVentilatorDataScope"
                     (onDrop)="blockDrop(ventilatorChartBlocks, true)">
                    <div *ngFor="let pd of ventilatorChartBlocks">
                        <ng-container
                            [ngTemplateOutlet]="{'jhiHwDataBlockTemplate': jhiHwDataBlockTemplate, 'jhiFlowsheetDataBlockTemplate': jhiFlowsheetDataBlockTemplate, 'jhiTabluarDataBlockTemplate': jhiTabluarDataBlockTemplate}[pd.getTemplateName()]"
                            [ngTemplateOutletContext]="{$implicit: { def: pd, ctx: this, dragSrc: ventilatorChartBlocks}}">
                        </ng-container>
                    </div>
                </div>
                <div *ngIf="ventilatorChartBlocks.length === 1" class="ui-g-12 ventilator-empty-space"></div>
                <!-- disabled by this ticket https://saperisys.atlassian.net/browse/TM-640
                <div [pDroppable]="ddVentilatorDataScope"
                     (onDrop)="blockDrop(ventilatorChart1Blocks, true)"
                    class="ui-g-6 ventilator-waveforms">
                    <div *ngFor="let vd of ventilatorChart1Blocks" class="h-100">
                        <ng-container
                            [ngTemplateOutlet]="{'jhiHwDataBlockTemplate': jhiHwDataBlockTemplate, 'jhiFlowsheetDataBlockTemplate': jhiFlowsheetDataBlockTemplate, 'jhiTabluarDataBlockTemplate': jhiTabluarDataBlockTemplate}[vd.getTemplateName()]"
                            [ngTemplateOutletContext]="{$implicit: { def: vd, ctx: this, dragSrc: ventilatorChart1Blocks}}">
                        </ng-container>
                    </div>
                </div>
                <div [pDroppable]="ddVentilatorDataScope"
                     (onDrop)="blockDrop(ventilatorChart2Blocks, true)"
                    class="ui-g-6 ventilator-waveforms">
                    <div *ngFor="let vd of ventilatorChart2Blocks" class="h-100">
                        <ng-container
                            [ngTemplateOutlet]="{'jhiHwDataBlockTemplate': jhiHwDataBlockTemplate, 'jhiFlowsheetDataBlockTemplate': jhiFlowsheetDataBlockTemplate, 'jhiTabluarDataBlockTemplate': jhiTabluarDataBlockTemplate}[vd.getTemplateName()]"
                            [ngTemplateOutletContext]="{$implicit: { def: vd, ctx: this, dragSrc: ventilatorChart2Blocks}}">
                        </ng-container>
                    </div>
                </div>
                https://saperisys.atlassian.net/browse/TM-640 -->
                <div [pDroppable]="ddVentilatorDataScope" class="physiologic-unselected-items chartArea"
                     (onDrop)="blockDrop(ventilatorUnselectedBlocks, true)">
                    <span *ngFor="let pd of ventilatorUnselectedBlocks" class="ui-g-1 physiologic-unselected-item">
                        <jhi-hw-data-block
                            [selectors]="pd.selectors"
                            [dataKeys]="pd.dataKeys"
                            [name]="pd.name"
                            [alarmMax]="pd.alarmMax"
                            [alarmMin]="pd.alarmMin"
                            [alarmMinCodeId]="pd.alarmMinCodeId"
                            [alarmMaxCodeId]="pd.alarmMaxCodeId"
                            [hwId]="pd.hwId"
                            [expanded]="pd.expanded"
                            [physiologicMonitors]="pd.physiologicMonitors"
                            [ventFlow]="pd.ventFlow"
                            [ventSettings]="pd.ventSettings"
                            [ventMonitors]="pd.ventMonitors"
                            [reduced]="pd.reduced"
                            [ddScope]="pd.ddScope"
                            [separator]="pd.separator"
                            [chartMaxDataLength]="pd.chartMaxDataLength"
                            [yaxisMin]="pd.yaxisMin"
                            [yaxisMax]="pd.yaxisMax"
                            (dragStart)="blockDragStart(pd, ventilatorUnselectedBlocks)"
                            (dragover)="blockDragOver(pd)"
                            [data]= "getBlockData(getDataKey(pd.dataKeys))"
                            [dataKey]="getDataKey(pd.dataKeys)">
                        </jhi-hw-data-block>
                    </span>
                </div>

            </p-panel>
        </div>
        <!-- Vent settings -->
        <div class="ui-g-2 m-row m-row-2 vent-settings" [style]="getVisibilityDevicesCss()">
           <!-- Labels section for ventilators -->
           <div class="label-container">
               <button type="button" [class]="iconClass(batteryVentPercentage)" class="ui-g-2 power-btn-action power-connect-status">
                   <fa-icon [icon]="ventConnectStatus"></fa-icon>
               </button>
               <button type="button" [hidden]="!ventConnectStatusBoltVisible" class="ui-g-2 power-btn-action power-connect-status-bolt">
                   <fa-icon [icon]="ventConnectStatusBolt"></fa-icon>
               </button>
               <div class="cds-label" [class]="cdsColorClass(ventCds, ventLocusOfControl)">
                   {{ventCds}}
               </div>
               <div class="locus-of-control-label" [class]="locusClass(ventLocusOfControl)">
                    {{ventLocusOfControl}}
               </div>
           </div>
           <p-panel header="&nbsp;">
               <div [pDroppable]="ddVentilatorDataScope" [style]="{width: '100%', height: '100%'}">
                   <div class="ventilator-mode-container">
                       <p-dialog modal="true" [(visible)]="showVentModes" class="flipping-card" header="Ventilator Modes"
                           [closable]="false">
                           <p-tabView>
                               <p-tabPanel header="Available Ventilator Mode">
                                   <div *ngFor="let vMode of ventilatorModes">
                                       <div class="col-md-12 control-padding" >
                                           <p-radioButton name="ventMode" label="{{vMode.shortLabel}} ({{vMode.longLabel}})" value="{{vMode.shortLabel}}" [(ngModel)]="ventMode"></p-radioButton>
                                       </div>
                                   </div>
                                   <div class="vent-mode-container ui-g-12">
                                       <button type="button" class="ui-g-2 vent-mode-btn-action" (click)="applyVentMode()">
                                           <fa-icon [icon]="check"></fa-icon>
                                       </button>
                                       <button type="button" class="ui-g-2 vent-mode-btn-action" (click)="closeVentModeDialog()">
                                           <fa-icon [icon]="cancel"></fa-icon>
                                       </button>
                                   </div>
                               </p-tabPanel>
                               <p-tabPanel header="Additional device settings">
                                   <div>This section will contain custom device settings.</div>
                                   <div>WIP</div>
                                   <div class="vent-mode-container ui-g-12">
                                       <button type="button" class="ui-g-2 vent-mode-btn-action" (click)="closeModeDialog()">
                                           <fa-icon [icon]="cancel"></fa-icon>
                                       </button>
                                   </div>
                               </p-tabPanel>
                           </p-tabView>
                       </p-dialog>
                       <button type="button" class="ventilator-mode" (click)="ventModes(ventMode)"> {{newVentMode}} </button>
                       <div style="width: inherit;" *ngFor="let vd of ventilatorBlocks">
                           <jhi-vri-data-block [selectors]="vd.selectors"
                                               [dataKey] = "vd.dataKey"
                                               [type]="vd.type"
                                               [unit]="vd.value.unit"
                                               [name]="vd.name"
                                               [ventilatorRequestDataKey]="vd.ventilatorChangeRequestDataKey"
                                               [ventSettings]="vd.ventSettings"
                                               [alarmMin]="vd.minAlarm"
                                               [alarmMax]="vd.maxAlarm"
                                               [lowerBound]="vd.lowerBound" lowerBoundClass="lower"
                                               [upperBound]="vd.upperBound" upperBoundClass="lower"
                                               [hwId]="vd.hwId"
                                               [value] = "vd.value"
                                               [order] = "vd.order"
                                               [enumValues] = "vd.enumValues"
                                               [codeId]="vd.codeID"
                                               [alarmMinCodeId]="vd.alarmMinCodeID"
                                               [alarmMaxCodeId]="vd.alarmMaxCodeID"
                                               style="display: contents">
                           </jhi-vri-data-block>
                       </div>
                   </div>
               </div>
           </p-panel>
        </div>
        <div class="ui-g-1 m-row m-row-4"></div>
        <!-- remote care team >
        <div class="ui-g-1 m-row m-row-4" [style]="getPositionRCTDevicesCss()">
            <p-panel [header]="'vcmApp.monitor.view.remote-care-team'| translate">
                <p-scrollPanel [style]="{width: '100%', height: '100%'}">
                    <div class="team-div" *ngFor="let item of remoteCareTeamItems">
                        <p-fieldset class="team-fieldset" [ngClass]="getStyleName(item.status)">
                            <p-header class="team-fieldset-header" [innerHTML]="getStatusName(item.status)"></p-header>
                            <div class="item-name">{{item.name}}</div>
                            <div *ngIf="item.gender == 'FEMALE'" class="team-content"><span class="team-icon"><fa-icon [icon]="femaleIcon"></fa-icon></span><span class="item-phone">{{item.phone}}</span><fa-icon class="item-phone-icon" [icon]="phoneIcon"></fa-icon></div>
                            <div *ngIf="item.gender == 'MALE'" class="team-content"><span class="team-icon"><fa-icon [icon]="maleIcon"></fa-icon></span><span class="item-phone">{{item.phone}}</span><fa-icon class="item-phone-icon" [icon]="phoneIcon"></fa-icon></div>
                            <div *ngIf="item.gender == 'OTHER'" class="team-content"><span class="team-icon"><fa-icon [icon]="otherIcon"></fa-icon></span><span class="item-phone">{{item.phone}}</span><fa-icon class="item-phone-icon" [icon]="phoneIcon"></fa-icon></div>
                        </p-fieldset>
                    </div>
                </p-scrollPanel>
            </p-panel>
        </div-->

        <!-- NeuroWave AccuPumps -->
        <div class="ui-g-11 m-row m-row-4" [style]="getVisibilityDevicesCss()">
            <div *ngFor="let pump of accuPumps; let odd = odd">
                <p-panel class="ui-g-6" [class]="odd?'ui-g-6-nopadding':''" [header]= "pump.name">
                    <jhi-infusion-pump [pumpDef]="pump"
                                       [hwId]="idPumpHwID['pump1']"

                                       [vtbiCodeId]="reverseIdMappingSettings['pi_vtbisetting']"
                                       [rateCodeId]="reverseIdMappingSettings['pi_bolusratesetting']"
                                       [bolusCodeId]="reverseIdMappingSettings['pi_bolusprogsetting']"
                                       [bolusRateCodeId]="reverseIdMappingSettings['pi_bolusprogratesetting']">
                    </jhi-infusion-pump>
                </p-panel>
            </div>
        </div>

        <div class="ui-g-12 m-row" [style]="getPositionHWStatusesDevicesCss()">
            <jhi-status-badge *ngFor="let s of getHardwareStatuses();" [label]="s.label" [status]="s.badgeStatus"
                [tooltipText]="s.message">
            </jhi-status-badge>
        </div>
    </div>
</div>

<ng-template #jhiHwDataBlockTemplate let-d>
    <jhi-hw-data-block [selectors]="d.def.selectors" [name]="d.def.name" [type]="d.def.type"
                       [dataKeys]="d.def.dataKeys" [alarmMax]="d.def.alarmMax" [alarmMin]="d.def.alarmMin"
        [expanded]="d.def.expanded" [physiologicMonitors]="d.def.physiologicMonitors" [ventFlow]="d.def.ventFlow"
        [ventSettings]="d.def.ventSettings" [ventMonitors]="d.def.ventMonitors" [reduced]="d.def.reduced"
        [ddScope]="d.def.ddScope"
        (dragStart)="d.ctx.blockDragStart(d.def, d.dragSrc)"
        (dragover)="d.ctx.blockDragOver(d.def)"
        (dragEnd)="d.ctx.blockDragEnd(d.def)"
        [alarmMinCodeId]="d.def.alarmMinCodeID"
        [alarmMaxCodeId]="d.def.alarmMaxCodeID"
        [hwId]="d.def.hwId"
        [xlabel]="d.def.xlabel"
        [ylabel]="d.def.ylabel"
        [separator]="d.def.separator"
        [data]= "d.ctx.getBlockData(d.def.getDataKey())"
        [dataKey]="d.def.getDataKey()"
        [chartMaxDataLength]="d.def.chartMaxDataLength"
        [yaxisMin]="d.def.yaxisMin"
        [yaxisMax]="d.def.yaxisMax">
    </jhi-hw-data-block>
</ng-template>

<ng-template #jhiFlowsheetDataBlockTemplate let-d>
    <jhi-flowsheet-data-block [selectors]="d.def.selectors" [name]="d.def.name" [headerName]="d.def.header"
                              [expanded]="d.def.expanded" [ddScope]="d.def.ddScope"
                              [columnsTemplate]="d.def.columnsTemplate"
                              [rows]="d.def.rows"
                              tableColsLength="960"
                              [interval]="d.def.interval"
        (dragStart)="d.ctx.blockDragStart(d.def, d.dragSrc)" (dragEnd)="d.ctx.blockDragEnd(d.def)">
    </jhi-flowsheet-data-block>
</ng-template>

<ng-template #jhiTabluarDataBlockTemplate let-d>
    <jhi-tabular-data-block [selectors]="d.def.selectors" [name]="d.def.name" [expanded]="d.def.expanded"
        [ddScope]="d.def.ddScope" [columns]="d.def.columns" tableColsLength="960"
        (dragStart)="d.ctx.blockDragStart(d.def, d.dragSrc)" (dragEnd)="d.ctx.blockDragEnd(d.def)">
    </jhi-tabular-data-block>
</ng-template>
